In [1]:
import pandas as pd
import numpy as np
import math

### Carga dos dados

In [2]:
# definir arquivo Pickle de entrada
#arquivo = 'dados/afastamentos-nomes-sexo-preparado.pkl.bz2'
arquivo = 'dados/cadastro-nomes-sexo-preparado.pkl.bz2'
#arquivo = 'extra/nome_sexo_pf-preparado.pkl.bz2'

In [3]:
df = pd.read_pickle(arquivo)
df.head()

,SEXO,QTDE,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15
NOME,,,,,,,,,,,,,,,,,,
MARIA,0,20389,1,9,18,1,13,0,0,0,0,0,0,0,0,0,0,0
JOSE,1,15925,5,19,15,10,0,0,0,0,0,0,0,0,0,0,0,0
ANA,0,11497,1,14,1,0,0,0,0,0,0,0,0,0,0,0,0,0
JOAO,1,7515,15,1,15,10,0,0,0,0,0,0,0,0,0,0,0,0
CARLOS,1,7370,19,15,12,18,1,3,0,0,0,0,0,0,0,0,0,0

In [4]:
df.shape

(41146, 18)

df.dtypes

### Expans√£o dos dados agregados

In [5]:
%%time
df2 = df.head(50000).copy()
#df2 = df.copy()
menor = df2['QTDE'].min()
maior = df2['QTDE'].max()
print(df2.shape[0], menor, maior, math.ceil(np.sqrt(maior / menor)))
#df2['TAM'] = df2['QTDE'].apply(lambda x: math.ceil(np.sqrt(x / menor)))
df2['TEMP'] = df2[['SEXO', 'QTDE']].apply(
    lambda x: [x[0]] * math.ceil(np.sqrt(x[1] / menor)), axis=1)
dfe = df2.explode('TEMP').drop(['TEMP'], axis=1) #.reset_index()
dfe.head(1000)

41146 1 20389 143
CPU times: user 498 ms, sys: 0 ns, total: 498 ms
Wall time: 3.67 s

,SEXO,QTDE,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15
NOME,,,,,,,,,,,,,,,,,,
MARIA,0,20389,1,9,18,1,13,0,0,0,0,0,0,0,0,0,0,0
MARIA,0,20389,1,9,18,1,13,0,0,0,0,0,0,0,0,0,0,0
MARIA,0,20389,1,9,18,1,13,0,0,0,0,0,0,0,0,0,0,0
MARIA,0,20389,1,9,18,1,13,0,0,0,0,0,0,0,0,0,0,0
MARIA,0,20389,1,9,18,1,13,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MARCOS,1,4542,19,15,3,18,1,13,0,0,0,0,0,0,0,0,0,0
MARCOS,1,4542,19,15,3,18,1,13,0,0,0,0,0,0,0,0,0,0
MARCOS,1,4542,19,15,3,18,1,13,0,0,0,0,0,0,0,0,0,0
MARCOS,1,4542,19,15,3,18,1,13,0,0,0,0,0,0,0,0,0,0
MARCOS,1,4542,19,15,3,18,1,13,0,0,0,0,0,0,0,0,0,0

In [6]:
# usar os dados expandidos inv√©s dos agregados
dfo = df # guardar o dataframe original
#df = dfe # apontar para o dataframe expandido
df = dfe.sample(frac=1) # embaralhar as linhas

### Decomposi√ß√£o com PCA

In [7]:
#from sklearn.decomposition import PCA
#X_reduced = PCA(n_components=4).fit_transform(df.drop(['SEXO'], axis=1))
#X_reduced[:5]

In [8]:
#X = pd.DataFrame(X_reduced, index=df.index)
#y = df['SEXO'] # apenas a coluna alvo
#print('Forma dos dados:', X.shape, y.shape)

### Uso dos dados originais

In [9]:
X = df.drop(['SEXO', 'QTDE'], axis=1) # tudo, exceto a coluna alvo
y = df['SEXO'] # apenas a coluna alvo
print('Forma dos dados:', X.shape, y.shape)

Forma dos dados: (82709, 16) (82709,)

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.feature_selection import RFE
from sklearn.feature_selection import RFECV
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline

# create pipeline
#rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=5)
rfe = RFECV(estimator=DecisionTreeClassifier())
model = DecisionTreeClassifier()
pipeline = Pipeline(steps=[('s',rfe), ('m',model)])

# evaluate model
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(pipeline, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')

# report performance
print('Accuracy: %.3f (%.3f)' % (np.mean(n_scores)*100, np.std(n_scores)*100))

rfe.fit(X, y)

# summarize all features
for i in range(X.shape[1]):
  print('Column: %d [%s], Rank: %.3f %s' % (
      i, X.columns[i], rfe.ranking_[i],
      'Selected ' if rfe.support_[i] else ''))

In [10]:
X.head()

          L0  L1  L2  L3  L4  L5  L6  L7  L8  L9  L10  L11  L12  L13  L14  L15
NOME
ANNELISE   5  19   9  12   5  14  14   1   0   0    0    0    0    0    0    0
ADAIR     18   9   1   4   1   0   0   0   0   0    0    0    0    0    0    0
ROZANA     1  14   1  26  15  18   0   0   0   0    0    0    0    0    0    0
CELIMAR   18   1  13   9  12   5   3   0   0   0    0    0    0    0    0    0
INES      19   5  14   9   0   0   0   0   0   0    0    0    0    0    0    0

In [11]:
y.head()

NOME
ANNELISE    0
ADAIR       1
ROZANA      0
CELIMAR     1
INES        0
Name: SEXO, dtype: uint8

In [12]:
NUMBER_KFOLD_SPLITS = 5 # number of splits in cross-validation
NUMBER_GRID_ITERATIONS = 10 # number of grid iterations to parameters testing
SCORING_METRIC = 'accuracy' # the scoring metric to be used

In [13]:
from datetime import datetime
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

models = {}

def evaluate_model(name, model, X=X, y=y):

  start = datetime.now()
  kfold = KFold(n_splits=NUMBER_KFOLD_SPLITS, shuffle=True, random_state=42)
  results = cross_val_score(model, X, y, cv=kfold,
                            scoring=SCORING_METRIC, verbose=1, n_jobs=-1)
  end = datetime.now()

  elapsed = int((end - start).total_seconds() * 1000)
  score = results.mean() * 100
  stddev = results.std() * 100

  models[name] = (model, score, stddev, elapsed)
  print(model, '\nCross-Validation Score: %.2f (+/- %.2f) [%5s ms]' % \
        (score, stddev, elapsed))
  return score, stddev, elapsed

In [14]:
from sklearn.model_selection import KFold
from sklearn.model_selection import RandomizedSearchCV
#from sklearn.model_selection import GridSearchCV

# faz o ajuste fino do modelo, calculando os melhores hiperpar√¢metros
def fine_tune_model(model, params, X=X, y=y):

  print('\nFine Tuning Model:')
  print(model, "\nparams:", params)
  
  kfold = KFold(n_splits=NUMBER_KFOLD_SPLITS, shuffle=True, random_state=42)

  search = RandomizedSearchCV(model, param_distributions=params, 
                              n_iter=NUMBER_GRID_ITERATIONS, 
                              scoring=SCORING_METRIC, cv=kfold, 
                              verbose=1, n_jobs=-1)
  #search = GridSearchCV(estimator=model, param_grid=params, scoring='accuracy', cv=kfold, verbose=1)

  search.fit(X, y)
  print('\nBest Score: %.2f %%' % (search.best_score_ * 100))
  print('Best Params:', search.best_params_)
  return search

In [15]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(
    random_state=42, multi_class='auto', 
    max_iter=1000, solver='liblinear', C=0.1) # 93.10
evaluate_model('LR', model)

params = dict(
    solver=['liblinear','lbfgs'], 
    C=np.logspace(-3,3,7)
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

LogisticRegression(C=0.1, max_iter=1000, random_state=42, solver='liblinear')
Cross-Validation Score: 93.78 (+/- 0.21) [10147 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:   10.0s finished

# Support Vector Machine (SVM)
from sklearn.svm import SVC

model = SVC(random_state=42, C=10, gamma=0.001, kernel='rbf') # 89.49
evaluate_model('SVM', model)

#params = dict(C=np.logspace(-1,1,3)) # 87.90
#params = dict(gamma=np.logspace(-3,0,4)) # 89.46
#params = dict(kernel=['linear','rbf','poly','sigmoid']) # 89.46
params = dict(C=np.logspace(-1,1,3),
              gamma=np.logspace(-3,0,4),
              kernel=['linear','rbf','poly','sigmoid'])
#fine_tune_model(model, params)

In [16]:
# Linear SVM
from sklearn.svm import LinearSVC

model = LinearSVC(random_state=42, max_iter=1000, C=0.1) # 93.07
evaluate_model('LSVM', model)

#from scipy.stats import reciprocal, uniform
#params = dict(C=uniform(1, 10))
params = dict(
    C=np.logspace(-4,3,8)
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

LinearSVC(C=0.1, random_state=42)
Cross-Validation Score: 93.85 (+/- 0.24) [73954 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:  1.2min finished

# K-Nearest Neighbours (KNN)
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=12, p=1, weights='distance') # 93.90
evaluate_model('KNN', model)

params = dict(
    n_neighbors=[7,9,11],
    p=[1,2],
    weights=['uniform','distance']
)
#fine_tune_model(model, params)

In [17]:
# Linear Discriminant Analysis (LDA)
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

model = LinearDiscriminantAnalysis(solver='svd') # 93.20
evaluate_model('LDA', model)

params = dict(
    solver=['svd','lsqr','eigen']
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

LinearDiscriminantAnalysis()
Cross-Validation Score: 93.76 (+/- 0.22) [ 5184 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    5.1s finished

In [18]:
# Quadratic Discriminant Analysis (QDA)
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

model = QuadraticDiscriminantAnalysis() # 44.99
evaluate_model('QDA', model)

params = dict()
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

QuadraticDiscriminantAnalysis()
Cross-Validation Score: 52.62 (+/- 0.31) [ 1342 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    1.2s finished

In [19]:
# Na√Øve Bayes - Gaussian
from sklearn.naive_bayes import GaussianNB

model = GaussianNB(priors=None, var_smoothing=1.0) # 92.95
evaluate_model('GNB', model)

params = dict(
    var_smoothing=np.logspace(0,-9,num=10)
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

GaussianNB(var_smoothing=1.0)
Cross-Validation Score: 93.53 (+/- 0.21) [ 1016 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    0.9s finished

In [20]:
# Na√Øve Bayes - Bernoulli
from sklearn.naive_bayes import BernoulliNB

model = BernoulliNB() # 52.24
evaluate_model('BNB', model)

#params = dict(var_smoothing=np.logspace(0,-9,num=10))
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

BernoulliNB()
Cross-Validation Score: 53.06 (+/- 0.35) [ 1223 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    1.1s finished

(53.05831299883603, 0.3488284627106127, 1223)

In [21]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(
    random_state=42, criterion='gini', max_depth=17) # 97.23
evaluate_model('DT', model)

params = dict(
    criterion=['gini','entropy'],
    max_depth=[3,5,7,11,13,17,19]
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

DecisionTreeClassifier(max_depth=17, random_state=42)
Cross-Validation Score: 99.76 (+/- 0.03) [ 2111 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    2.0s finished

In [22]:
# Ensemble - Random Forest
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(
    random_state=42, max_features='auto', n_estimators=100) # 99.80
evaluate_model('RF', model)

params = dict(
    n_estimators=[10,50,100,500], 
    max_features=['auto','sqrt','log2']
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

RandomForestClassifier(random_state=42)
Cross-Validation Score: 99.86 (+/- 0.03) [33243 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:   33.1s finished

In [23]:
# Ensemble - Ada Boost
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

model = AdaBoostClassifier(
    DecisionTreeClassifier(random_state=42, criterion='entropy', max_depth=17), 
    n_estimators=3) # 99.76
evaluate_model('ABDT', model)

params = dict(
    n_estimators=[1,3,5,7,9,11,13]
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(criterion='entropy',
                                                         max_depth=17,
                                                         random_state=42),
                   n_estimators=3)
Cross-Validation Score: 99.85 (+/- 0.03) [ 3192 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    3.1s finished

# Ensemble - Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier(random_state=42, max_depth=35, n_estimators=250, learning_rate=0.1) # 96.75
evaluate_model('GB', model)

params = dict(max_depth=[1,3,5,7,9], n_estimators=[5,50,250,500], learning_rate=[0.01,0.1,1,10,100])
#fine_tune_model(model, params)

In [24]:
# Stochastic Gradient Descent (SGD)
from sklearn.linear_model import SGDClassifier

model = SGDClassifier(random_state=42, max_iter=100, tol=0.01) # 91.59
evaluate_model('SGD', model)

params = dict(
    max_iter=[100, 200, 350, 500, 1000], 
    tol=[0.01, 0.1, 1.0]
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

SGDClassifier(max_iter=100, random_state=42, tol=0.01)
Cross-Validation Score: 88.28 (+/- 5.49) [ 1968 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    1.9s finished

In [25]:
# Perceptron
from sklearn.linear_model import Perceptron

model = Perceptron(random_state=42, max_iter=750, tol=0.1) # 90.87
evaluate_model('PCT', model)

params = dict(
    max_iter=[100, 200, 350, 500, 750, 1000], 
    tol=[0.1, 0.01, 0.001]
)
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

Perceptron(max_iter=750, random_state=42, tol=0.1)
Cross-Validation Score: 82.73 (+/- 7.63) [  983 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    0.9s finished

# Multi-Layer Perceptron (MLP)
from sklearn.neural_network import MLPClassifier

model = MLPClassifier(random_state=42, solver='lbfgs', alpha=1e-07, hidden_layer_sizes=(50, 100, 50)) # 88.67
evaluate_model('MLP', model)

params = dict(alpha=np.logspace(-9,-1,5), 
              solver=['lbfgs','sgd','adam'], 
              hidden_layer_sizes=[(50,50,50), (50,100,50), (100,)])
#fine_tune_model(model, params)

In [26]:
# Extreme Gradient Boosting Machine (XGBM)
from xgboost import XGBClassifier
#!pip install xgboost

model = XGBClassifier(
    use_label_encoder=False, eval_metric='logloss',
    max_depth=9, min_child_weight=1, gamma=0.4, 
    subsample=0.9, colsample_bytree=0.6, reg_alpha=1e-05) # 99.20
evaluate_model('XGB', model)

params = dict(max_depth=range(3,10,2), min_child_weight=range(1,6,2)) # 99.85
#params = dict(gamma=[i/10.0 for i in range(0,5)]) # 99.85
#params = dict(subsample=[i/10.0 for i in range(6,10)], colsample_bytree=[i/10.0 for i in range(6,10)]) # 99.85
#params = dict(reg_alpha=[1e-5, 1e-2, 0.1, 1, 100]) # 99.85
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

XGBClassifier(base_score=None, booster=None, colsample_bylevel=None,
              colsample_bynode=None, colsample_bytree=0.6,
              eval_metric='logloss', gamma=0.4, gpu_id=None,
              importance_type='gain', interaction_constraints=None,
              learning_rate=None, max_delta_step=None, max_depth=9,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              random_state=None, reg_alpha=1e-05, reg_lambda=None,
              scale_pos_weight=None, subsample=0.9, tree_method=None,
              use_label_encoder=False, validate_parameters=None,
              verbosity=None)
Cross-Validation Score: 99.93 (+/- 0.02) [348552 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:  5.8min finished

In [27]:
# LightGBM
from lightgbm import LGBMClassifier
#!pip install lightgbm

model = LGBMClassifier(
    num_leaves=97, max_depth=11, 
    learning_rate=0.1, feature_fraction=0.5) # 97.09
evaluate_model('LGBM', model)

#params = dict(num_leaves=range(10,100), max_depth=range(1,30)) # 99.85
#params = dict(learning_rate=[0.01,0.05,0.1,0.5]) # 99.85
params = dict(feature_fraction=[0.1,0.25,0.5,0.75,1.0]) # 99.87
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

LGBMClassifier(feature_fraction=0.5, max_depth=11, num_leaves=97)
Cross-Validation Score: 99.86 (+/- 0.03) [ 9375 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    9.3s finished

In [28]:
# CatBoost
from catboost import CatBoostClassifier
#!pip install catboost

model = CatBoostClassifier(
    silent=True, iterations=500,
    learning_rate=0.05, depth=9) # 99.61
#learning_rate=0.1, iterations=1000, depth=5
evaluate_model('CB', model)

params = dict(
    iterations=[10,50,100,250,500,1000],
    learning_rate=[0.01,0.05,0.1,0.5],
    depth=range(1,11,2)
) 
#fine_tune_model(model, params)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

<catboost.core.CatBoostClassifier object at 0x7f668a8f4160>
Cross-Validation Score: 99.83 (+/- 0.02) [140043 ms]

[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:  2.3min finished

In [29]:
names = []
estimators = []
scores = []
stdevs = []
times = []

for key, value in models.items():
    (model, score, stdev, elapsed) = value
    names.append(key)
    estimators.append(model)
    scores.append(score)
    stdevs.append(stdev)
    times.append(elapsed)

In [30]:
results_df = pd.DataFrame({
    'Model': names,
    'Score': scores,
    'Std Dev': stdevs,
    'Time (ms)': times,
    'Estimator': estimators})

results_df.sort_values(by='Score', ascending=False)

,Model,Score,Std Dev,Time (ms),Estimator
11,XGB,99.928666,0.019644,348552,"XGBClassifier(base_score=None, booster=None, c..."
7,RF,99.858540,0.029515,33243,RandomForestClassifier(random_state=42)
12,LGBM,99.858540,0.028767,9375,"LGBMClassifier(feature_fraction=0.5, max_depth..."
8,ABDT,99.848868,0.030825,3192,AdaBoostClassifier(base_estimator=DecisionTree...
13,CB,99.833150,0.022813,140043,<catboost.core.CatBoostClassifier object at 0x...
6,DT,99.756979,0.028462,2111,"DecisionTreeClassifier(max_depth=17, random_st..."
1,LSVM,93.845890,0.242873,73954,"LinearSVC(C=0.1, random_state=42)"
0,LR,93.776974,0.211234,10147,"LogisticRegression(C=0.1, max_iter=1000, rando..."
2,LDA,93.757628,0.218362,5184,LinearDiscriminantAnalysis()
4,GNB,93.526699,0.212234,1016,GaussianNB(var_smoothing=1.0)
9,SGD,88.284212,5.485385,1968,"SGDClassifier(max_iter=100, random_state=42, t..."
10,PCT,82.730857,7.633005,983,"Perceptron(max_iter=750, random_state=42, tol=..."
5,BNB,53.058313,0.348828,1223,BernoulliNB()
3,QDA,52.620631,0.308413,1342,QuadraticDiscriminantAnalysis()

In [47]:
escolhido = 'CB'
model = models[escolhido][0]
model

In [48]:
%%time

# treinar o melhor modelo com todos os dados
model.fit(X, y)

CPU times: user 52.9 s, sys: 5.83 s, total: 58.8 s
Wall time: 6.19 s

In [49]:
# gravar em disco o modelo treinado
from joblib import dump
dump(model, 'modelos/modelo-genero-nome-' + escolhido + '.joblib.bz2', compress=('bz2', 9))
#dump(model, 'modelos/modelo-genero-nome.joblib.bz2', compress=('bz2', 9))

['modelos/modelo-genero-nome-CB.joblib.bz2']

## Avalia√ß√£o do melhor modelo

In [134]:
# carregar um modelo previamente gravado em disco
from joblib import load
model = load('modelos/modelo-genero-nome.joblib.bz2')
model

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.6, eval_metric='logloss',
              gamma=0.4, gpu_id=-1, importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=9, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=12,
              num_parallel_tree=1, random_state=0, reg_alpha=1e-05,
              reg_lambda=1, scale_pos_weight=1, subsample=0.9,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [151]:
# definir arquivo Pickle de entrada
arquivo = 'dados/afastamentos-nomes-sexo-preparado.pkl.bz2'
#arquivo = 'dados/cadastro-nomes-sexo-preparado.pkl.bz2'
#arquivo = 'extra/nome_sexo_pf-preparado.pkl.bz2'

df2 = pd.read_pickle(arquivo)
df2.head()

,SEXO,QTDE,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15
NOME,,,,,,,,,,,,,,,,,,
MARIA,0,2937,1,9,18,1,13,0,0,0,0,0,0,0,0,0,0,0
JOSE,1,2766,5,19,15,10,0,0,0,0,0,0,0,0,0,0,0,0
ANTONIO,1,1257,15,9,14,15,20,14,1,0,0,0,0,0,0,0,0,0
FRANCISCO,1,1014,15,3,19,9,3,14,1,18,6,0,0,0,0,0,0,0
JOAO,1,993,15,1,15,10,0,0,0,0,0,0,0,0,0,0,0,0

In [152]:
df2.shape

(8711, 18)

In [153]:
X_test = df2.drop(['SEXO', 'QTDE'], axis=1) # tudo, exceto a coluna alvo
y_test = df2['SEXO'] # apenas a coluna alvo

In [154]:
y_pred = model.predict(X_test)
y_pred

array([0, 1, 1, ..., 1, 1, 1])

In [155]:
from sklearn.metrics import accuracy_score

print("Accuracy score: %.2f %%" % (accuracy_score(y_test, y_pred) * 100))

Accuracy score: 99.99 %

In [156]:
from sklearn.metrics import confusion_matrix

print("Confusion matrix:\n", confusion_matrix(y_test, y_pred))

Confusion matrix:
 [[4384    0]
 [   1 4326]]

In [157]:
dados = pd.DataFrame({'REAL': y_test, 'PREV': y_pred}, index=X_test.index)
for col in dados.columns:
    dados[col] = dados[col].map({0: 'F', 1: 'M', 9: 'X'})
dados.head(10)

          REAL PREV
NOME
MARIA        F    F
JOSE         M    M
ANTONIO      M    M
FRANCISCO    M    M
JOAO         M    M
CARLOS       M    M
ANA          F    F
PAULO        M    M
LUIZ         M    M
MARCOS       M    M

In [158]:
dados[dados['REAL'] != dados['PREV']].head(50)

      REAL PREV
NOME
SAIDE    M    F