In [2]:
import pandas as pd
import numpy as np

In [3]:
BASE = 'afastamentos'
#BASE = 'cadastro'

In [4]:
df = pd.read_csv(BASE + '-nomes.csv', index_col=0,
                 dtype={'QTDE': 'uint8', 'PERC': np.float32})

In [5]:
df.head(30)

           QTDE    PERC
PNOME
MARIA       121  4.5952
JOSE        206  4.3276
ANTONIO     233  1.9667
FRANCISCO   246  1.5865
JOAO        225  1.5536
CARLOS      211  1.5317
ANA         170  1.4676
PAULO       139  1.4191
LUIZ         61  1.2970
MARCOS        3  0.8058
JORGE       251  0.7932
MARCELO     168  0.6634
PEDRO       165  0.6587
RAIMUNDO    139  0.6180
SERGIO      138  0.6164
MANOEL       88  0.5382
FERNANDO     86  0.5351
ANDRE        72  0.5132
RICARDO      62  0.4975
MARCIA       58  0.4913
LUIS         41  0.4647
ALEXANDRE    31  0.4490
ROBERTO      28  0.4443
EDUARDO      19  0.4303
CLAUDIO      15  0.4240
PATRICIA     14  0.4224
RODRIGO     253  0.3958
CLAUDIA     245  0.3833
JULIANA     240  0.3755
LUCIANA     235  0.3677

In [6]:
df['SEXO'] = None
df['LETRAS'] = 0
df['REV'] = df.index
df['REV'] = df['REV'].apply(lambda x: x[::-1])
df['LETRAS'] = df['REV'].apply(lambda x: len(x))
df.head(30)

           QTDE    PERC  SEXO  LETRAS        REV
PNOME
MARIA       121  4.5952  None       5      AIRAM
JOSE        206  4.3276  None       4       ESOJ
ANTONIO     233  1.9667  None       7    OINOTNA
FRANCISCO   246  1.5865  None       9  OCSICNARF
JOAO        225  1.5536  None       4       OAOJ
CARLOS      211  1.5317  None       6     SOLRAC
ANA         170  1.4676  None       3        ANA
PAULO       139  1.4191  None       5      OLUAP
LUIZ         61  1.2970  None       4       ZIUL
MARCOS        3  0.8058  None       6     SOCRAM
JORGE       251  0.7932  None       5      EGROJ
MARCELO     168  0.6634  None       7    OLECRAM
PEDRO       165  0.6587  None       5      ORDEP
RAIMUNDO    139  0.6180  None       8   ODNUMIAR
SERGIO      138  0.6164  None       6     OIGRES
MANOEL       88  0.5382  None       6     LEONAM
FERNANDO     86  0.5351  None       8   ODNANREF
ANDRE        72  0.5132  None       5      ERDNA
RICARDO      62  0.4975  None       7    ODRACIR
MARCIA       58  0.4913  None       6     AICRAM
LUIS         41  0.4647  None       4       SIUL
ALEXANDRE    31  0.4490  None       9  ERDNAXELA
ROBERTO      28  0.4443  None       7    OTREBOR
EDUARDO      19  0.4303  None       7    ODRAUDE
CLAUDIO      15  0.4240  None       7    OIDUALC
PATRICIA     14  0.4224  None       8   AICIRTAP
RODRIGO     253  0.3958  None       7    OGIRDOR
CLAUDIA     245  0.3833  None       7    AIDUALC
JULIANA     240  0.3755  None       7    ANAILUJ
LUCIANA     235  0.3677  None       7    ANAICUL

In [7]:
df.dtypes

QTDE        uint8
PERC      float32
SEXO       object
LETRAS      int64
REV        object
dtype: object

maior = df['LETRAS'].max()
maior

maior = 16 # fixado para o maior arquivo

for i in range(maior):
    df['L' + str(i)] = ''
df.head()

df['L0'] = df['REV'].apply(lambda x: x[0])
df['L1'] = df['REV'].apply(lambda x: x[1] if len(x) > 1 else '')
df.head()

for i in range(maior):
    df['L' + str(i)] = df['REV'].apply(lambda x: x[i] if len(x) > i else '')
df.head()

### 1) Masculino se terminar com O, Feminino se terminar com A

In [10]:
df.loc[df['REV'].str.startswith('O'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('A'), 'SEXO'] = 'F'

### 2) Masculino se terminar com R, X ou L

In [11]:
df.loc[df['REV'].str.startswith('R'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('X'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('L'), 'SEXO'] = 'M'

### 3) Masculino se terminar com ...

In [12]:
sufixos = [
"DRE",
"UIS",
"QUE",
"ERT",
"ERG"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'M'

### 4) Masculino se terminar com ...

In [13]:
sufixos = [
"OS",
"ON",
"AS",
"AZ",
"US",
"ES",
"PE",
"PH",
"IM",
"NS",
"UE",
"EI",
"EY",
"EU",
"AU",
"AN",
"AC",
"IC",
"ICK",
"IK"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'M'

### 5) Feminino se terminar com ...

In [14]:
sufixos = [
"ELE",
"ELLE",
"LLE",
"ETE",
"ETTE",
"ETI",
"ETTI",
"ETH",
"ETHE",
"ISE",
"IZE",
"ITE"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'F'

### 6) Feminino se terminar com ...

In [15]:
sufixos = [
"NE",
"LI",
"LY",
"LYN",
"CE",
"EN",
"DE",
"SE",
"SY",
"ANI",
"AIS",
"AH",
"ENI",
"IE",
"IRE"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'F'

### 8) Nomes Masculinos ainda não classificados ou reclassificados

nomes = [
"JOSE",
"JORGE",
"LUIZ",
]

with open('nomes-masculinos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [16]:
nomes = []
with open('nomes-masculinos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [17]:
for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'SEXO'] = 'M'

### 9) Nomes Femininos ainda não classificados ou reclassificados

nomes = [
"RAQUEL",
"ISABEL",
"LEONOR"
]

with open('nomes-femininos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [18]:
nomes = []
with open('nomes-femininos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [19]:
for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'SEXO'] = 'F'

### Casos indefinidos

In [20]:
df[df['SEXO'].isnull()].head(30)

         QTDE    PERC  SEXO  LETRAS      REV
PNOME
VALDECI    24  0.0375  None       7  ICEDLAV
JURACI     13  0.0203  None       6   ICARUJ
DARCY      12  0.0188  None       5    YCRAD
DARCI       9  0.0141  None       5    ICRAD
IRACI       9  0.0141  None       5    ICARI
JACY        9  0.0141  None       4     YCAJ
JACI        9  0.0141  None       4     ICAJ
NELCI       6  0.0094  None       5    ICLEN
UBIRACI     6  0.0094  None       7  ICARIBU
JURACY      5  0.0078  None       6   YCARUJ
GLADYS      5  0.0078  None       6   SYDALG
VALDECY     5  0.0078  None       7  YCEDLAV
GUARACI     5  0.0078  None       7  ICARAUG
VALDI       5  0.0078  None       5    IDLAV
CLECI       4  0.0063  None       5    ICELC
LEONI       4  0.0063  None       5    INOEL
JAMILE      4  0.0063  None       6   ELIMAJ
IRANDI      4  0.0063  None       6   IDNARI
DORACI      3  0.0047  None       6   ICAROD
AGLAE       3  0.0047  None       5    EALGA
ALDECI      3  0.0047  None       6   ICEDLA
JURANDY     3  0.0047  None       7  YDNARUJ
GECY        3  0.0047  None       4     YCEG
ALDERI      3  0.0047  None       6   IREDLA
GENECI      3  0.0047  None       6   ICENEG
FRANCY      3  0.0047  None       6   YCNARF
LECI        3  0.0047  None       4     ICEL
IVANY       3  0.0047  None       5    YNAVI
AVANY       3  0.0047  None       5    YNAVA
VALDERI     3  0.0047  None       7  IREDLAV

### Testes com outros casos

df = df[df['REV'].str.startswith('IA')]

df[df['SEXO'].isnull()].head(100)

In [21]:
df.describe(include=['O'])

        SEXO      REV
count   8711     9726
unique     2     9726
top        F  ENAYAHT
freq    4376        1

In [22]:
df.head(200)

            QTDE    PERC SEXO  LETRAS         REV
PNOME
MARIA        121  4.5952    F       5       AIRAM
JOSE         206  4.3276    M       4        ESOJ
ANTONIO      233  1.9667    M       7     OINOTNA
FRANCISCO    246  1.5865    M       9   OCSICNARF
JOAO         225  1.5536    M       4        OAOJ
CARLOS       211  1.5317    M       6      SOLRAC
ANA          170  1.4676    F       3         ANA
PAULO        139  1.4191    M       5       OLUAP
LUIZ          61  1.2970    M       4        ZIUL
MARCOS         3  0.8058    M       6      SOCRAM
JORGE        251  0.7932    M       5       EGROJ
MARCELO      168  0.6634    M       7     OLECRAM
PEDRO        165  0.6587    M       5       ORDEP
RAIMUNDO     139  0.6180    M       8    ODNUMIAR
SERGIO       138  0.6164    M       6      OIGRES
MANOEL        88  0.5382    M       6      LEONAM
FERNANDO      86  0.5351    M       8    ODNANREF
ANDRE         72  0.5132    M       5       ERDNA
RICARDO       62  0.4975    M       7     ODRACIR
MARCIA        58  0.4913    F       6      AICRAM
LUIS          41  0.4647    M       4        SIUL
ALEXANDRE     31  0.4490    M       9   ERDNAXELA
ROBERTO       28  0.4443    M       7     OTREBOR
EDUARDO       19  0.4303    M       7     ODRAUDE
CLAUDIO       15  0.4240    M       7     OIDUALC
PATRICIA      14  0.4224    F       8    AICIRTAP
RODRIGO      253  0.3958    M       7     OGIRDOR
CLAUDIA      245  0.3833    F       7     AIDUALC
JULIANA      240  0.3755    F       7     ANAILUJ
LUCIANA      235  0.3677    F       7     ANAICUL
...          ...     ...  ...     ...         ...
VALTER        60  0.0939    M       6      RETLAV
VICENTE       59  0.0923    M       7     ETNECIV
WELLINGTON    59  0.0923    M      10  NOTGNILLEW
GERSON        58  0.0907    M       6      NOSREG
ALVARO        57  0.0892    M       6      ORAVLA
IGOR          57  0.0892    M       4        ROGI
NILTON        56  0.0876    M       6      NOTLIN
SANDRO        56  0.0876    M       6      ORDNAS
TEREZINHA     56  0.0876    F       9   AHNIZERET
LAURA         56  0.0876    F       5       ARUAL
ERIKA         56  0.0876    F       5       AKIRE
JOEL          56  0.0876    M       4        LEOJ
VALDIR        56  0.0876    M       6      RIDLAV
GABRIEL       56  0.0876    M       7     LEIRBAG
GISELE        55  0.0861    F       6      ELESIG
ELIANA        55  0.0861    F       6      ANAILE
ISABEL        55  0.0861    F       6      LEBASI
VICTOR        55  0.0861    M       6      ROTCIV
MARCELA       55  0.0861    F       7     ALECRAM
DIOGO         55  0.0861    M       5       OGOID
VITOR         55  0.0861    M       5       ROTIV
AILTON        55  0.0861    M       6      NOTLIA
FREDERICO     54  0.0845    M       9   OCIREDERF
KARLA         54  0.0845    F       5       ALRAK
HELENA        53  0.0829    F       6      ANELEH
JAQUELINE     53  0.0829    F       9   ENILEUQAJ
SEVERINO      53  0.0829    M       8    ONIREVES
HUMBERTO      53  0.0829    M       8    OTREBMUH
HELOISA       52  0.0814    F       7     ASIOLEH
AUGUSTO       52  0.0814    M       7     OTSUGUA

[200 rows x 5 columns]

### Testes com outros casos

df[df['REV'].str.startswith('EZI')]

In [23]:
#df.loc['PHILIP']

### Geração do arquivo final

In [24]:
df.loc[df['SEXO'].isnull(), 'SEXO'] = 'X'

In [27]:
df[['QTDE', 'SEXO']].groupby(['SEXO']).count()

      QTDE
SEXO
F     4376
M     4335
X     1015

In [26]:
df['SEXO'].to_csv(BASE + '-nomes-sexo.csv', header=True)