In [1]:
import pandas as pd
import numpy as np

In [2]:
#arquivo = 'afastamentos'
arquivo = 'cadastro'

In [3]:
df = pd.read_csv(arquivo + '-nomes.csv', index_col=0,
                 dtype={'QTDE': 'uint8', 'PERC': np.float32})

In [4]:
df.head(30)

           QTDE    PERC
PNOME
MARIA       168  3.1593
JOSE         52  2.4671
ANA         233  1.7812
JOAO         91  1.1643
CARLOS      202  1.1418
PAULO        52  1.1186
ANTONIO      70  1.0817
LUIZ        251  0.9511
FRANCISCO   163  0.8978
MARCELO     113  0.7711
MARCOS      190  0.7037
ANDRE       198  0.6653
RODRIGO     146  0.6176
RAFAEL        3  0.5954
RICARDO     177  0.5827
FERNANDO     93  0.5697
PEDRO        76  0.5670
EDUARDO      40  0.5615
FERNANDA    202  0.5469
PATRICIA    107  0.5322
DANIEL      100  0.5311
ALEXANDRE    62  0.5252
JULIANA      55  0.5241
BRUNO       206  0.5079
MARCIA      130  0.4961
FABIO        61  0.4854
LEONARDO    209  0.4687
LUCIANA     171  0.4628
SERGIO      134  0.4570
LUIS         32  0.4412

In [5]:
df['SEXO'] = None
#df['LETRAS'] = 0
df['REV'] = df.index
df['REV'] = df['REV'].apply(lambda x: x[::-1])
#df['LETRAS'] = df['REV'].apply(lambda x: len(x))
df.head(30)

           QTDE    PERC  SEXO        REV
PNOME
MARIA       168  3.1593  None      AIRAM
JOSE         52  2.4671  None       ESOJ
ANA         233  1.7812  None        ANA
JOAO         91  1.1643  None       OAOJ
CARLOS      202  1.1418  None     SOLRAC
PAULO        52  1.1186  None      OLUAP
ANTONIO      70  1.0817  None    OINOTNA
LUIZ        251  0.9511  None       ZIUL
FRANCISCO   163  0.8978  None  OCSICNARF
MARCELO     113  0.7711  None    OLECRAM
MARCOS      190  0.7037  None     SOCRAM
ANDRE       198  0.6653  None      ERDNA
RODRIGO     146  0.6176  None    OGIRDOR
RAFAEL        3  0.5954  None     LEAFAR
RICARDO     177  0.5827  None    ODRACIR
FERNANDO     93  0.5697  None   ODNANREF
PEDRO        76  0.5670  None      ORDEP
EDUARDO      40  0.5615  None    ODRAUDE
FERNANDA    202  0.5469  None   ADNANREF
PATRICIA    107  0.5322  None   AICIRTAP
DANIEL      100  0.5311  None     LEINAD
ALEXANDRE    62  0.5252  None  ERDNAXELA
JULIANA      55  0.5241  None    ANAILUJ
BRUNO       206  0.5079  None      ONURB
MARCIA      130  0.4961  None     AICRAM
FABIO        61  0.4854  None      OIBAF
LEONARDO    209  0.4687  None   ODRANOEL
LUCIANA     171  0.4628  None    ANAICUL
SERGIO      134  0.4570  None     OIGRES
LUIS         32  0.4412  None       SIUL

In [6]:
df.dtypes

QTDE      uint8
PERC    float32
SEXO     object
REV      object
dtype: object

### 1) Masculino se terminar com O, Feminino se terminar com A

In [7]:
df.loc[df['REV'].str.startswith('O'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('A'), 'SEXO'] = 'F'

### 2) Masculino se terminar com R, X ou L

In [8]:
df.loc[df['REV'].str.startswith('R'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('X'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('L'), 'SEXO'] = 'M'

### 3) Masculino se terminar com ...

In [9]:
sufixos = [
"DRE",
"UIS",
"QUE",
"ERT",
"ERG"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'M'

### 4) Masculino se terminar com ...

In [10]:
sufixos = [
"OS",
"ON",
"AS",
"AZ",
"US",
"ES",
"PE",
"PH",
"IM",
"NS",
"UE",
"EI",
"EY",
"EU",
"AU",
"AN",
"AC",
"IC",
"ICK",
"IK"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'M'

### 5) Feminino se terminar com ...

In [11]:
sufixos = [
"ELE",
"ELLE",
"LLE",
"ETE",
"ETTE",
"ETI",
"ETTI",
"ETH",
"ETHE",
"ISE",
"IZE",
"ITE"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'F'

### 6) Feminino se terminar com ...

In [12]:
sufixos = [
"NE",
"LI",
"LY",
"LYN",
"CE",
"EN",
"DE",
"SE",
"SY",
"ANI",
"AIS",
"AH",
"ENI",
"IE",
"IRE"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'F'

### 8) Nomes Masculinos ainda não classificados ou reclassificados

nomes = [
"JOSE",
"JORGE",
"LUIZ",
]

with open('nomes-masculinos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [13]:
nomes = []
with open('nomes-masculinos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [14]:
for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'SEXO'] = 'M'

### 9) Nomes Femininos ainda não classificados ou reclassificados

nomes = [
"RAQUEL",
"ISABEL",
"LEONOR"
]

with open('nomes-femininos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [15]:
nomes = []
with open('nomes-femininos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [16]:
for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'SEXO'] = 'F'

### Casos indefinidos

In [17]:
df[df['SEXO'].isnull()].head(30)

           QTDE    PERC  SEXO        REV
PNOME
VALDECI     137  0.0212  None    ICEDLAV
JAMILE      124  0.0192  None     ELIMAJ
JURACI       81  0.0125  None     ICARUJ
IRACI        74  0.0115  None      ICARI
DARCI        73  0.0113  None      ICRAD
DARCY        52  0.0081  None      YCRAD
MARI         46  0.0071  None       IRAM
JURACY       44  0.0068  None     YCARUJ
THAMIRIS     42  0.0065  None   SIRIMAHT
STEFANY      42  0.0065  None    YNAFETS
JACI         42  0.0065  None       ICAJ
LIEGE        39  0.0060  None      EGEIL
ROOSEVELT    38  0.0059  None  TLEVESOOR
DESIREE      36  0.0056  None    EERISED
EDWARD       35  0.0054  None     DRAWDE
DEIVID       35  0.0054  None     DIVIED
CAMILE       35  0.0054  None     ELIMAC
NELCI        34  0.0053  None      ICLEN
GLADYS       33  0.0051  None     SYDALG
ALINY        33  0.0051  None      YNILA
MAURI        33  0.0051  None      IRUAM
JOABE        32  0.0050  None      EBAOJ
JACY         31  0.0048  None       YCAJ
ALEXIS       30  0.0046  None     SIXELA
DIMITRI      30  0.0046  None    IRTIMID
RANIERI      29  0.0045  None    IREINAR
MARGARET     29  0.0045  None   TERAGRAM
ANDREW       28  0.0043  None     WERDNA
SUZI         26  0.0040  None       IZUS
IRACY        26  0.0040  None      YCARI

### Testes com outros casos

df = df[df['REV'].str.startswith('IA')]

df[df['SEXO'].isnull()].head(100)

In [18]:
df.describe(include=['O'])

         SEXO      REV
count   41150    48970
unique      2    48970
top         F  ADLEILE
freq    21891        1

In [19]:
df.head(200)

            QTDE    PERC SEXO         REV
PNOME
MARIA        168  3.1593    F       AIRAM
JOSE          52  2.4671    M        ESOJ
ANA          233  1.7812    F         ANA
JOAO          91  1.1643    M        OAOJ
CARLOS       202  1.1418    M      SOLRAC
PAULO         52  1.1186    M       OLUAP
ANTONIO       70  1.0817    M     OINOTNA
LUIZ         251  0.9511    M        ZIUL
FRANCISCO    163  0.8978    M   OCSICNARF
MARCELO      113  0.7711    M     OLECRAM
MARCOS       190  0.7037    M      SOCRAM
ANDRE        198  0.6653    M       ERDNA
RODRIGO      146  0.6176    M     OGIRDOR
RAFAEL         3  0.5954    M      LEAFAR
RICARDO      177  0.5827    M     ODRACIR
FERNANDO      93  0.5697    M    ODNANREF
PEDRO         76  0.5670    M       ORDEP
EDUARDO       40  0.5615    M     ODRAUDE
FERNANDA     202  0.5469    F    ADNANREF
PATRICIA     107  0.5322    F    AICIRTAP
DANIEL       100  0.5311    M      LEINAD
ALEXANDRE     62  0.5252    M   ERDNAXELA
JULIANA       55  0.5241    F     ANAILUJ
BRUNO        206  0.5079    M       ONURB
MARCIA       130  0.4961    F      AICRAM
FABIO         61  0.4854    M       OIBAF
LEONARDO     209  0.4687    M    ODRANOEL
LUCIANA      171  0.4628    F     ANAICUL
SERGIO       134  0.4570    M      OIGRES
LUIS          32  0.4412    M        SIUL
...          ...     ...  ...         ...
JEFFERSON    134  0.1001    M   NOSREFFEJ
SANDRO       127  0.0990    M      ORDNAS
CAIO         123  0.0984    M        OIAC
ISABELA      121  0.0981    F     ALEBASI
RAPHAEL      119  0.0978    M     LEAHPAR
LORENA       119  0.0978    F      ANEROL
MIGUEL       117  0.0975    M      LEUGIM
CINTIA       113  0.0968    F      AITNIC
ALAN         110  0.0964    M        NALA
TATIANE      106  0.0957    F     ENAITAT
AUGUSTO      100  0.0948    M     OTSUGUA
FREDERICO     99  0.0947    M   OCIREDERF
EMERSON       92  0.0936    M     NOSREME
ELIZABETH     91  0.0934    F   HTEBAZILE
NATHALIA      89  0.0931    F    AILAHTAN
MATEUS        86  0.0926    M      SUETAM
ISABEL        83  0.0922    F      LEBASI
JOANA         82  0.0920    F       ANAOJ
ANDRESSA      81  0.0919    F    ASSERDNA
ARTHUR        81  0.0919    M      RUHTRA
WELLINGTON    77  0.0913    M  NOTGNILLEW
JEAN          75  0.0909    M        NAEJ
REGINALDO     75  0.0909    M   ODLANIGER
LEILA         71  0.0903    F       ALIEL
ELIANA        70  0.0902    F      ANAILE
EVANDRO       67  0.0897    M     ORDNAVE
GILSON        66  0.0895    M      NOSLIG
ROSA          65  0.0894    F        ASOR
WILLIAM       59  0.0885    M     MAILLIW
MICHELE       59  0.0885    F     ELEHCIM

[200 rows x 4 columns]

### Testes com outros casos

df[df['REV'].str.startswith('EZI')]

In [20]:
#df.loc['PHILIP']

## Últimas transformações

In [21]:
df.loc[df['SEXO'].isnull(), 'SEXO'] = 'X'

## Análise das quantidades

In [22]:
df2 = df[['QTDE', 'SEXO']].groupby(['SEXO']).count()

total = df2['QTDE'].sum()

df2['PERC'] = df2['QTDE'].apply(lambda x: int(x / total * 10000) / 100)
df2

       QTDE   PERC
SEXO
F     21891  44.70
M     19259  39.32
X      7820  15.96

## Geração do arquivo final

In [23]:
df['SEXO'].to_csv(arquivo + '-nomes-sexo.csv', header=True)