In [1]:
import pandas as pd
import numpy as np

In [2]:
BASE = 'afastamentos'
#BASE = 'cadastro'

In [3]:
df = pd.read_csv(BASE + '-nomes.csv', index_col=0,
                 dtype={'QTDE': 'uint8', 'PERC': np.float32})

In [4]:
df.head(30)

           QTDE      PERC
PNOME
MARIA       121  4.595165
JOSE        206  4.327622
ANTONIO     233  1.966674
FRANCISCO   246  1.586482
JOAO        225  1.553626
CARLOS      211  1.531722
ANA         170  1.467574
PAULO       139  1.419072
LUIZ         61  1.297035
MARCOS        3  0.805758
JORGE       251  0.793241
MARCELO     168  0.663381
PEDRO       165  0.658687
RAIMUNDO    139  0.618008
SERGIO      138  0.616444
MANOEL       88  0.538215
FERNANDO     86  0.535086
ANDRE        72  0.513182
RICARDO      62  0.497536
MARCIA       58  0.491277
LUIS         41  0.464680
ALEXANDRE    31  0.449034
ROBERTO      28  0.444340
EDUARDO      19  0.430259
CLAUDIO      15  0.424001
PATRICIA     14  0.422436
RODRIGO     253  0.395838
CLAUDIA     245  0.383322
JULIANA     240  0.375499
LUCIANA     235  0.367676

In [5]:
df['SEXO'] = None
df['LETRAS'] = 0
df['REV'] = df.index
df['REV'] = df['REV'].apply(lambda x: x[::-1])
df['LETRAS'] = df['REV'].apply(lambda x: len(x))
df.head(30)

           QTDE      PERC  SEXO  LETRAS        REV
PNOME
MARIA       121  4.595165  None       5      AIRAM
JOSE        206  4.327622  None       4       ESOJ
ANTONIO     233  1.966674  None       7    OINOTNA
FRANCISCO   246  1.586482  None       9  OCSICNARF
JOAO        225  1.553626  None       4       OAOJ
CARLOS      211  1.531722  None       6     SOLRAC
ANA         170  1.467574  None       3        ANA
PAULO       139  1.419072  None       5      OLUAP
LUIZ         61  1.297035  None       4       ZIUL
MARCOS        3  0.805758  None       6     SOCRAM
JORGE       251  0.793241  None       5      EGROJ
MARCELO     168  0.663381  None       7    OLECRAM
PEDRO       165  0.658687  None       5      ORDEP
RAIMUNDO    139  0.618008  None       8   ODNUMIAR
SERGIO      138  0.616444  None       6     OIGRES
MANOEL       88  0.538215  None       6     LEONAM
FERNANDO     86  0.535086  None       8   ODNANREF
ANDRE        72  0.513182  None       5      ERDNA
RICARDO      62  0.497536  None       7    ODRACIR
MARCIA       58  0.491277  None       6     AICRAM
LUIS         41  0.464680  None       4       SIUL
ALEXANDRE    31  0.449034  None       9  ERDNAXELA
ROBERTO      28  0.444340  None       7    OTREBOR
EDUARDO      19  0.430259  None       7    ODRAUDE
CLAUDIO      15  0.424001  None       7    OIDUALC
PATRICIA     14  0.422436  None       8   AICIRTAP
RODRIGO     253  0.395838  None       7    OGIRDOR
CLAUDIA     245  0.383322  None       7    AIDUALC
JULIANA     240  0.375499  None       7    ANAILUJ
LUCIANA     235  0.367676  None       7    ANAICUL

In [6]:
df.dtypes

QTDE        uint8
PERC      float32
SEXO       object
LETRAS      int64
REV        object
dtype: object

In [7]:
maior = df['LETRAS'].max()
maior

14

In [8]:
maior = 16 # fixado para o maior arquivo

for i in range(maior):
    df['L' + str(i)] = ''
df.head()

df['L0'] = df['REV'].apply(lambda x: x[0])
df['L1'] = df['REV'].apply(lambda x: x[1] if len(x) > 1 else '')
df.head()

for i in range(maior):
    df['L' + str(i)] = df['REV'].apply(lambda x: x[i] if len(x) > i else '')
df.head()

### 1) Masculino se terminar com O, Feminino se terminar com A

In [9]:
df.loc[df['REV'].str.startswith('O'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('A'), 'SEXO'] = 'F'

### 2) Masculino se terminar com R, X ou L

In [10]:
df.loc[df['REV'].str.startswith('R'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('X'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('L'), 'SEXO'] = 'M'

### 3) Masculino se terminar com ...

In [11]:
sufixos = [
"DRE",
"UIS",
"QUE",
"ERT",
"ERG"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'M'

### 4) Masculino se terminar com ...

In [12]:
sufixos = [
"OS",
"ON",
"AS",
"AZ",
"US",
"ES",
"PE",
"PH",
"IM",
"NS",
"UE",
"EI",
"EY",
"EU",
"AU",
"AN",
"AC",
"IC",
"ICK",
"IK"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'M'

### 5) Feminino se terminar com ...

In [13]:
sufixos = [
"ELE",
"ELLE",
"LLE",
"ETE",
"ETTE",
"ETI",
"ETTI",
"ETH",
"ETHE",
"ISE",
"IZE",
"ITE"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'F'

### 6) Feminino se terminar com ...

In [14]:
sufixos = [
"NE",
"LI",
"LY",
"LYN",
"CE",
"EN",
"DE",
"SE",
"SY",
"ANI",
"AIS",
"AH",
"ENI",
"IE",
"IRE"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'F'

### 8) Nomes Masculinos ainda não classificados ou reclassificados

nomes = [
"JOSE",
"JORGE",
"LUIZ",
]

with open('nomes-masculinos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [15]:
nomes = []
with open('nomes-masculinos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [16]:
for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'SEXO'] = 'M'

### 9) Nomes Femininos ainda não classificados ou reclassificados

nomes = [
"RAQUEL",
"ISABEL",
"LEONOR"
]

with open('nomes-femininos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [17]:
nomes = []
with open('nomes-femininos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [18]:
for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'SEXO'] = 'F'

### Casos indefinidos

In [19]:
df[df['SEXO'].isnull()].head(30)

         QTDE      PERC  SEXO  LETRAS      REV
PNOME
VALDECI    24  0.037550  None       7  ICEDLAV
JURACI     13  0.020340  None       6   ICARUJ
DARCY      12  0.018775  None       5    YCRAD
DARCI       9  0.014081  None       5    ICRAD
IRACI       9  0.014081  None       5    ICARI
JACY        9  0.014081  None       4     YCAJ
JACI        9  0.014081  None       4     ICAJ
NELCI       6  0.009387  None       5    ICLEN
UBIRACI     6  0.009387  None       7  ICARIBU
JURACY      5  0.007823  None       6   YCARUJ
GLADYS      5  0.007823  None       6   SYDALG
VALDECY     5  0.007823  None       7  YCEDLAV
GUARACI     5  0.007823  None       7  ICARAUG
VALDI       5  0.007823  None       5    IDLAV
CLECI       4  0.006258  None       5    ICELC
LEONI       4  0.006258  None       5    INOEL
JAMILE      4  0.006258  None       6   ELIMAJ
IRANDI      4  0.006258  None       6   IDNARI
DORACI      3  0.004694  None       6   ICAROD
AGLAE       3  0.004694  None       5    EALGA
ALDECI      3  0.004694  None       6   ICEDLA
JURANDY     3  0.004694  None       7  YDNARUJ
GECY        3  0.004694  None       4     YCEG
ALDERI      3  0.004694  None       6   IREDLA
GENECI      3  0.004694  None       6   ICENEG
FRANCY      3  0.004694  None       6   YCNARF
LECI        3  0.004694  None       4     ICEL
IVANY       3  0.004694  None       5    YNAVI
AVANY       3  0.004694  None       5    YNAVA
VALDERI     3  0.004694  None       7  IREDLAV

### Testes com outros casos

df = df[df['REV'].str.startswith('IA')]

df[df['SEXO'].isnull()].head(100)

In [20]:
df.describe(include=['O'])

        SEXO       REV
count   8711      9726
unique     2      9726
top        F  ETENIDUA
freq    4376         1

In [21]:
df.head(200)

            QTDE      PERC SEXO  LETRAS         REV
PNOME
MARIA        121  4.595165    F       5       AIRAM
JOSE         206  4.327622    M       4        ESOJ
ANTONIO      233  1.966674    M       7     OINOTNA
FRANCISCO    246  1.586482    M       9   OCSICNARF
JOAO         225  1.553626    M       4        OAOJ
CARLOS       211  1.531722    M       6      SOLRAC
ANA          170  1.467574    F       3         ANA
PAULO        139  1.419072    M       5       OLUAP
LUIZ          61  1.297035    M       4        ZIUL
MARCOS         3  0.805758    M       6      SOCRAM
JORGE        251  0.793241    M       5       EGROJ
MARCELO      168  0.663381    M       7     OLECRAM
PEDRO        165  0.658687    M       5       ORDEP
RAIMUNDO     139  0.618008    M       8    ODNUMIAR
SERGIO       138  0.616444    M       6      OIGRES
MANOEL        88  0.538215    M       6      LEONAM
FERNANDO      86  0.535086    M       8    ODNANREF
ANDRE         72  0.513182    M       5       ERDNA
RICARDO       62  0.497536    M       7     ODRACIR
MARCIA        58  0.491277    F       6      AICRAM
LUIS          41  0.464680    M       4        SIUL
ALEXANDRE     31  0.449034    M       9   ERDNAXELA
ROBERTO       28  0.444340    M       7     OTREBOR
EDUARDO       19  0.430259    M       7     ODRAUDE
CLAUDIO       15  0.424001    M       7     OIDUALC
PATRICIA      14  0.422436    F       8    AICIRTAP
RODRIGO      253  0.395838    M       7     OGIRDOR
CLAUDIA      245  0.383322    F       7     AIDUALC
JULIANA      240  0.375499    F       7     ANAILUJ
LUCIANA      235  0.367676    F       7     ANAICUL
...          ...       ...  ...     ...         ...
VALTER        60  0.093875    M       6      RETLAV
VICENTE       59  0.092310    M       7     ETNECIV
WELLINGTON    59  0.092310    M      10  NOTGNILLEW
GERSON        58  0.090746    M       6      NOSREG
ALVARO        57  0.089181    M       6      ORAVLA
IGOR          57  0.089181    M       4        ROGI
NILTON        56  0.087616    M       6      NOTLIN
SANDRO        56  0.087616    M       6      ORDNAS
TEREZINHA     56  0.087616    F       9   AHNIZERET
LAURA         56  0.087616    F       5       ARUAL
ERIKA         56  0.087616    F       5       AKIRE
JOEL          56  0.087616    M       4        LEOJ
VALDIR        56  0.087616    M       6      RIDLAV
GABRIEL       56  0.087616    M       7     LEIRBAG
GISELE        55  0.086052    F       6      ELESIG
ELIANA        55  0.086052    F       6      ANAILE
ISABEL        55  0.086052    F       6      LEBASI
VICTOR        55  0.086052    M       6      ROTCIV
MARCELA       55  0.086052    F       7     ALECRAM
DIOGO         55  0.086052    M       5       OGOID
VITOR         55  0.086052    M       5       ROTIV
AILTON        55  0.086052    M       6      NOTLIA
FREDERICO     54  0.084487    M       9   OCIREDERF
KARLA         54  0.084487    F       5       ALRAK
HELENA        53  0.082923    F       6      ANELEH
JAQUELINE     53  0.082923    F       9   ENILEUQAJ
SEVERINO      53  0.082923    M       8    ONIREVES
HUMBERTO      53  0.082923    M       8    OTREBMUH
HELOISA       52  0.081358    F       7     ASIOLEH
AUGUSTO       52  0.081358    M       7     OTSUGUA

[200 rows x 5 columns]

### Testes com outros casos

df[df['REV'].str.startswith('EZI')]

In [22]:
#df.loc['PHILIP']

### Geração do arquivo final

In [23]:
df.loc[df['SEXO'].isnull(), 'SEXO'] = 'X'

In [24]:
df['SEXO'].to_csv(BASE + '-nomes-sexo.csv', header=True)