In [1]:
import pandas as pd
import numpy as np

In [2]:
BASE = 'afastamentos'
#BASE = 'cadastro'

In [3]:
df = pd.read_csv(BASE + '-nomes.csv', index_col=0,
                 dtype={'QTDE': 'uint8', 'PERC': np.float32})

In [4]:
df.head(30)

           QTDE      PERC
PNOME
MARIA       121  4.595165
JOSE        206  4.327622
ANTONIO     233  1.966674
FRANCISCO   246  1.586482
JOAO        225  1.553626
CARLOS      211  1.531722
ANA         170  1.467574
PAULO       139  1.419072
LUIZ         61  1.297035
MARCOS        3  0.805758
JORGE       251  0.793241
MARCELO     168  0.663381
PEDRO       165  0.658687
RAIMUNDO    139  0.618008
SERGIO      138  0.616444
MANOEL       88  0.538215
FERNANDO     86  0.535086
ANDRE        72  0.513182
RICARDO      62  0.497536
MARCIA       58  0.491277
LUIS         41  0.464680
ALEXANDRE    31  0.449034
ROBERTO      28  0.444340
EDUARDO      19  0.430259
CLAUDIO      15  0.424001
PATRICIA     14  0.422436
RODRIGO     253  0.395838
CLAUDIA     245  0.383322
JULIANA     240  0.375499
LUCIANA     235  0.367676

In [5]:
df['SEXO'] = None
df['LETRAS'] = 0
df['REV'] = df.index
df['REV'] = df['REV'].apply(lambda x: x[::-1])
df['LETRAS'] = df['REV'].apply(lambda x: len(x))
df.head(30)

           QTDE      PERC  SEXO  LETRAS        REV
PNOME
MARIA       121  4.595165  None       5      AIRAM
JOSE        206  4.327622  None       4       ESOJ
ANTONIO     233  1.966674  None       7    OINOTNA
FRANCISCO   246  1.586482  None       9  OCSICNARF
JOAO        225  1.553626  None       4       OAOJ
CARLOS      211  1.531722  None       6     SOLRAC
ANA         170  1.467574  None       3        ANA
PAULO       139  1.419072  None       5      OLUAP
LUIZ         61  1.297035  None       4       ZIUL
MARCOS        3  0.805758  None       6     SOCRAM
JORGE       251  0.793241  None       5      EGROJ
MARCELO     168  0.663381  None       7    OLECRAM
PEDRO       165  0.658687  None       5      ORDEP
RAIMUNDO    139  0.618008  None       8   ODNUMIAR
SERGIO      138  0.616444  None       6     OIGRES
MANOEL       88  0.538215  None       6     LEONAM
FERNANDO     86  0.535086  None       8   ODNANREF
ANDRE        72  0.513182  None       5      ERDNA
RICARDO      62  0.497536  None       7    ODRACIR
MARCIA       58  0.491277  None       6     AICRAM
LUIS         41  0.464680  None       4       SIUL
ALEXANDRE    31  0.449034  None       9  ERDNAXELA
ROBERTO      28  0.444340  None       7    OTREBOR
EDUARDO      19  0.430259  None       7    ODRAUDE
CLAUDIO      15  0.424001  None       7    OIDUALC
PATRICIA     14  0.422436  None       8   AICIRTAP
RODRIGO     253  0.395838  None       7    OGIRDOR
CLAUDIA     245  0.383322  None       7    AIDUALC
JULIANA     240  0.375499  None       7    ANAILUJ
LUCIANA     235  0.367676  None       7    ANAICUL

In [6]:
df.dtypes

QTDE        uint8
PERC      float32
SEXO       object
LETRAS      int64
REV        object
dtype: object

In [7]:
maior = df['LETRAS'].max()
maior

14

In [8]:
maior = 16 # fixado para o maior arquivo

for i in range(maior):
    df['L' + str(i)] = ''
df.head()

df['L0'] = df['REV'].apply(lambda x: x[0])
df['L1'] = df['REV'].apply(lambda x: x[1] if len(x) > 1 else '')
df.head()

In [9]:
for i in range(maior):
    df['L' + str(i)] = df['REV'].apply(lambda x: x[i] if len(x) > i else '')
df.head()

,QTDE,PERC,SEXO,LETRAS,REV,L0,L1,L2,L3,L4,...,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15
PNOME,,,,,,,,,,,,,,,,,,,,,
MARIA,121,4.595165,None,5,AIRAM,A,I,R,A,M,...,,,,,,,,,,
JOSE,206,4.327622,None,4,ESOJ,E,S,O,J,,...,,,,,,,,,,
ANTONIO,233,1.966674,None,7,OINOTNA,O,I,N,O,T,...,A,,,,,,,,,
FRANCISCO,246,1.586482,None,9,OCSICNARF,O,C,S,I,C,...,A,R,F,,,,,,,
JOAO,225,1.553626,None,4,OAOJ,O,A,O,J,,...,,,,,,,,,,

### 1) Masculino se terminar com O, Feminino se terminar com A

In [10]:
df.loc[df['L0'] == 'O', 'SEXO'] = 'M'
df.loc[df['L0'] == 'A', 'SEXO'] = 'F'

### 2) Masculino se terminar com R, X ou L

In [11]:
df.loc[df['REV'].str.startswith('R'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('X'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('L'), 'SEXO'] = 'M'

### 3) Masculino se terminar com DRE, UIS, QUE, ERT, ERG

In [12]:
sufixos = [
"DRE",
"UIS",
"QUE",
"ERT",
"ERG"
]

for suf in sufixos:
    rev = suf[::-1]
    df.loc[df['REV'].str.startswith(rev), 'SEXO'] = 'M'

### 4) Masculino se terminar com OS, ON, PE, PH, AS, AZ, US, IM, ES, NS, UE, EI, EY, EU, AU, AN, AC, IC, ICK, IK

In [13]:
sufixos = [
"OS",
"ON",
"AS",
"AZ",
"US",
"ES",
"PE",
"PH",
"IM",
"NS",
"UE",
"EI",
"EY",
"EU",
"AU",
"AN",
"AC",
"IC",
"ICK",
"IK"
]

for suf in sufixos:
    rev = suf[::-1]
    df.loc[df['REV'].str.startswith(rev), 'SEXO'] = 'M'

### 5) Feminino se terminar com ELE, ELLE, LLE, ETE, ETTE, ETI, ETTI, ETH, ETHE, ISE, IZE ou ITE

In [14]:
sufixos = [
"ELE",
"ELLE",
"LLE",
"ETE",
"ETTE",
"ETI",
"ETTI",
"ETH",
"ETHE",
"ISE",
"IZE",
"ITE"
]

for suf in sufixos:
    rev = suf[::-1]
    df.loc[df['REV'].str.startswith(rev), 'SEXO'] = 'F'

### 6) Feminino se terminar com NE, LI, LY, LYN, CE, EN, DE, SE, SY, ANI, AIS, AH, ENI, IE, IRE

In [15]:
sufixos = [
"NE",
"LI",
"LY",
"LYN",
"CE",
"EN",
"DE",
"SE",
"SY",
"ANI",
"AIS",
"AH",
"ENI",
"IE",
"IRE"
]

for suf in sufixos:
    rev = suf[::-1]
    df.loc[df['REV'].str.startswith(rev), 'SEXO'] = 'F'

### 8) Nomes Masculinos ainda não classificados ou reclassificados

nomes = [
"JOSE",
"JORGE",
"LUIZ",
]

for nome in nomes:
    rev = nome[::-1]
    df.loc[df['REV'] == rev, 'SEXO'] = 'M'

with open('nomes-masculinos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [16]:
nomes = []
with open('nomes-masculinos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [17]:
for nome in nomes:
    rev = nome[::-1]
    df.loc[df['REV'] == rev, 'SEXO'] = 'M'

### 9) Nomes Femininos ainda não classificados ou reclassificados

nomes = [
"RAQUEL",
"ISABEL",
"LEONOR"
]

for nome in nomes:
    rev = nome[::-1]
    df.loc[df['REV'] == rev, 'SEXO'] = 'F'

with open('nomes-femininos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [18]:
nomes = []
with open('nomes-femininos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [19]:
for nome in nomes:
    rev = nome[::-1]
    df.loc[df['REV'] == rev, 'SEXO'] = 'F'

### Casos indefinidos

In [20]:
df[df['SEXO'].isnull()].head(30)

,QTDE,PERC,SEXO,LETRAS,REV,L0,L1,L2,L3,L4,...,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15
PNOME,,,,,,,,,,,,,,,,,,,,,
VALDECI,24,0.037550,None,7,ICEDLAV,I,C,E,D,L,...,V,,,,,,,,,
JURACI,13,0.020340,None,6,ICARUJ,I,C,A,R,U,...,,,,,,,,,,
DARCY,12,0.018775,None,5,YCRAD,Y,C,R,A,D,...,,,,,,,,,,
DARCI,9,0.014081,None,5,ICRAD,I,C,R,A,D,...,,,,,,,,,,
IRACI,9,0.014081,None,5,ICARI,I,C,A,R,I,...,,,,,,,,,,
JACY,9,0.014081,None,4,YCAJ,Y,C,A,J,,...,,,,,,,,,,
JACI,9,0.014081,None,4,ICAJ,I,C,A,J,,...,,,,,,,,,,
NELCI,6,0.009387,None,5,ICLEN,I,C,L,E,N,...,,,,,,,,,,
UBIRACI,6,0.009387,None,7,ICARIBU,I,C,A,R,I,...,U,,,,,,,,,
JURACY,5,0.007823,None,6,YCARUJ,Y,C,A,R,U,...,,,,,,,,,,
GLADYS,5,0.007823,None,6,SYDALG,S,Y,D,A,L,...,,,,,,,,,,
VALDECY,5,0.007823,None,7,YCEDLAV,Y,C,E,D,L,...,V,,,,,,,,,
GUARACI,5,0.007823,None,7,ICARAUG,I,C,A,R,A,...,G,,,,,,,,,
VALDI,5,0.007823,None,5,IDLAV,I,D,L,A,V,...,,,,,,,,,,
CLECI,4,0.006258,None,5,ICELC,I,C,E,L,C,...,,,,,,,,,,
LEONI,4,0.006258,None,5,INOEL,I,N,O,E,L,...,,,,,,,,,,
JAMILE,4,0.006258,None,6,ELIMAJ,E,L,I,M,A,...,,,,,,,,,,
IRANDI,4,0.006258,None,6,IDNARI,I,D,N,A,R,...,,,,,,,,,,
DORACI,3,0.004694,None,6,ICAROD,I,C,A,R,O,...,,,,,,,,,,
AGLAE,3,0.004694,None,5,EALGA,E,A,L,G,A,...,,,,,,,,,,
ALDECI,3,0.004694,None,6,ICEDLA,I,C,E,D,L,...,,,,,,,,,,
JURANDY,3,0.004694,None,7,YDNARUJ,Y,D,N,A,R,...,J,,,,,,,,,
GECY,3,0.004694,None,4,YCEG,Y,C,E,G,,...,,,,,,,,,,
ALDERI,3,0.004694,None,6,IREDLA,I,R,E,D,L,...,,,,,,,,,,
GENECI,3,0.004694,None,6,ICENEG,I,C,E,N,E,...,,,,,,,,,,
FRANCY,3,0.004694,None,6,YCNARF,Y,C,N,A,R,...,,,,,,,,,,
LECI,3,0.004694,None,4,ICEL,I,C,E,L,,...,,,,,,,,,,
IVANY,3,0.004694,None,5,YNAVI,Y,N,A,V,I,...,,,,,,,,,,
JACOB,3,0.004694,None,5,BOCAJ,B,O,C,A,J,...,,,,,,,,,,
AVANY,3,0.004694,None,5,YNAVA,Y,N,A,V,A,...,,,,,,,,,,

### Testes com outros casos

In [21]:
df = df[df['REV'].str.startswith('IA')]

df[df['SEXO'].isnull()].head(100)

,QTDE,PERC,SEXO,LETRAS,REV,L0,L1,L2,L3,L4,...,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15
PNOME,,,,,,,,,,,,,,,,,,,,,
IRAI,2,0.003129,None,4,IARI,I,A,R,I,,...,,,,,,,,,,
SAMAI,2,0.003129,None,5,IAMAS,I,A,M,A,S,...,,,,,,,,,,
UBURAI,1,0.001565,None,6,IARUBU,I,A,R,U,B,...,,,,,,,,,,
UBIRAI,1,0.001565,None,6,IARIBU,I,A,R,I,B,...,,,,,,,,,,
YSLAI,1,0.001565,None,5,IALSY,I,A,L,S,Y,...,,,,,,,,,,
MADAI,1,0.001565,None,5,IADAM,I,A,D,A,M,...,,,,,,,,,,
SARAI,1,0.001565,None,5,IARAS,I,A,R,A,S,...,,,,,,,,,,
ELIOENAI,1,0.001565,None,8,IANEOILE,I,A,N,E,O,...,L,E,,,,,,,,
ALINDAI,1,0.001565,None,7,IADNILA,I,A,D,N,I,...,A,,,,,,,,,
JUNAI,1,0.001565,None,5,IANUJ,I,A,N,U,J,...,,,,,,,,,,
FLANINDAI,1,0.001565,None,9,IADNINALF,I,A,D,N,I,...,A,L,F,,,,,,,

In [22]:
df.describe(include=['O'])

,SEXO,REV,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15
count,1,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
unique,1,12,1,1,5,7,9,6,3,3,2,1,1,1,1,1,1,1
top,M,IARAS,I,A,R,A,S,,,,,,,,,,,
freq,1,1,12,12,4,3,2,6,9,10,11,12,12,12,12,12,12,12

In [23]:
df.head(200)

,QTDE,PERC,SEXO,LETRAS,REV,L0,L1,L2,L3,L4,...,L6,L7,L8,L9,L10,L11,L12,L13,L14,L15
PNOME,,,,,,,,,,,,,,,,,,,,,
ADONAI,3,0.004694,M,6,IANODA,I,A,N,O,D,...,,,,,,,,,,
IRAI,2,0.003129,None,4,IARI,I,A,R,I,,...,,,,,,,,,,
SAMAI,2,0.003129,None,5,IAMAS,I,A,M,A,S,...,,,,,,,,,,
UBURAI,1,0.001565,None,6,IARUBU,I,A,R,U,B,...,,,,,,,,,,
UBIRAI,1,0.001565,None,6,IARIBU,I,A,R,I,B,...,,,,,,,,,,
YSLAI,1,0.001565,None,5,IALSY,I,A,L,S,Y,...,,,,,,,,,,
MADAI,1,0.001565,None,5,IADAM,I,A,D,A,M,...,,,,,,,,,,
SARAI,1,0.001565,None,5,IARAS,I,A,R,A,S,...,,,,,,,,,,
ELIOENAI,1,0.001565,None,8,IANEOILE,I,A,N,E,O,...,L,E,,,,,,,,
ALINDAI,1,0.001565,None,7,IADNILA,I,A,D,N,I,...,A,,,,,,,,,
JUNAI,1,0.001565,None,5,IANUJ,I,A,N,U,J,...,,,,,,,,,,
FLANINDAI,1,0.001565,None,9,IADNINALF,I,A,D,N,I,...,A,L,F,,,,,,,

### Testes com outros casos

df[df['REV'].str.startswith('EZI')]

In [24]:
#df.loc['PHILIP']

### Geração do arquivo final

In [25]:
df.to_csv(BASE + '-nomes-sexo.csv', float_format='%.4f')