In [1]:
import pandas as pd
import numpy as np

In [2]:
#BASE = 'afastamentos'
BASE = 'cadastro'

In [3]:
df = pd.read_csv(BASE + '-nomes.csv', index_col=0,
                 dtype={'QTDE': 'uint8', 'PERC': np.float32})

In [4]:
df.head(30)

           QTDE    PERC
PNOME
MARIA       168  3.1593
JOSE         52  2.4671
ANA         233  1.7812
JOAO         91  1.1643
CARLOS      202  1.1418
PAULO        52  1.1186
ANTONIO      70  1.0817
LUIZ        251  0.9511
FRANCISCO   163  0.8978
MARCELO     113  0.7711
MARCOS      190  0.7037
ANDRE       198  0.6653
RODRIGO     146  0.6176
RAFAEL        3  0.5954
RICARDO     177  0.5827
FERNANDO     93  0.5697
PEDRO        76  0.5670
EDUARDO      40  0.5615
FERNANDA    202  0.5469
PATRICIA    107  0.5322
DANIEL      100  0.5311
ALEXANDRE    62  0.5252
JULIANA      55  0.5241
BRUNO       206  0.5079
MARCIA      130  0.4961
FABIO        61  0.4854
LEONARDO    209  0.4687
LUCIANA     171  0.4628
SERGIO      134  0.4570
LUIS         32  0.4412

In [ ]:
df['SEXO'] = None
df['LETRAS'] = 0
df['REV'] = df.index
df['REV'] = df['REV'].apply(lambda x: x[::-1])
df['LETRAS'] = df['REV'].apply(lambda x: len(x))
df.head(30)

           QTDE    PERC  SEXO  LETRAS        REV
PNOME
MARIA       168  3.1593  None       5      AIRAM
JOSE         52  2.4671  None       4       ESOJ
ANA         233  1.7812  None       3        ANA
JOAO         91  1.1643  None       4       OAOJ
CARLOS      202  1.1418  None       6     SOLRAC
PAULO        52  1.1186  None       5      OLUAP
ANTONIO      70  1.0817  None       7    OINOTNA
LUIZ        251  0.9511  None       4       ZIUL
FRANCISCO   163  0.8978  None       9  OCSICNARF
MARCELO     113  0.7711  None       7    OLECRAM
MARCOS      190  0.7037  None       6     SOCRAM
ANDRE       198  0.6653  None       5      ERDNA
RODRIGO     146  0.6176  None       7    OGIRDOR
RAFAEL        3  0.5954  None       6     LEAFAR
RICARDO     177  0.5827  None       7    ODRACIR
FERNANDO     93  0.5697  None       8   ODNANREF
PEDRO        76  0.5670  None       5      ORDEP
EDUARDO      40  0.5615  None       7    ODRAUDE
FERNANDA    202  0.5469  None       8   ADNANREF
PATRICIA    107  0.5322  None       8   AICIRTAP
DANIEL      100  0.5311  None       6     LEINAD
ALEXANDRE    62  0.5252  None       9  ERDNAXELA
JULIANA      55  0.5241  None       7    ANAILUJ
BRUNO       206  0.5079  None       5      ONURB
MARCIA      130  0.4961  None       6     AICRAM
FABIO        61  0.4854  None       5      OIBAF
LEONARDO    209  0.4687  None       8   ODRANOEL
LUCIANA     171  0.4628  None       7    ANAICUL
SERGIO      134  0.4570  None       6     OIGRES
LUIS         32  0.4412  None       4       SIUL

In [ ]:
df.dtypes

QTDE        uint8
PERC      float32
SEXO       object
LETRAS      int64
REV        object
dtype: object

In [ ]:
maior = df['LETRAS'].max()
maior

16

In [ ]:
maior = 16 # fixado para o maior arquivo

for i in range(maior):
    df['L' + str(i)] = ''
df.head()

df['L0'] = df['REV'].apply(lambda x: x[0])
df['L1'] = df['REV'].apply(lambda x: x[1] if len(x) > 1 else '')
df.head()

for i in range(maior):
    df['L' + str(i)] = df['REV'].apply(lambda x: x[i] if len(x) > i else '')
df.head()

### 1) Masculino se terminar com O, Feminino se terminar com A

In [ ]:
df.loc[df['REV'].str.startswith('O'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('A'), 'SEXO'] = 'F'

### 2) Masculino se terminar com R, X ou L

In [ ]:
df.loc[df['REV'].str.startswith('R'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('X'), 'SEXO'] = 'M'
df.loc[df['REV'].str.startswith('L'), 'SEXO'] = 'M'

### 3) Masculino se terminar com ...

In [ ]:
sufixos = [
"DRE",
"UIS",
"QUE",
"ERT",
"ERG"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'M'

### 4) Masculino se terminar com ...

In [ ]:
sufixos = [
"OS",
"ON",
"AS",
"AZ",
"US",
"ES",
"PE",
"PH",
"IM",
"NS",
"UE",
"EI",
"EY",
"EU",
"AU",
"AN",
"AC",
"IC",
"ICK",
"IK"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'M'

### 5) Feminino se terminar com ...

In [ ]:
sufixos = [
"ELE",
"ELLE",
"LLE",
"ETE",
"ETTE",
"ETI",
"ETTI",
"ETH",
"ETHE",
"ISE",
"IZE",
"ITE"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'F'

### 6) Feminino se terminar com ...

In [ ]:
sufixos = [
"NE",
"LI",
"LY",
"LYN",
"CE",
"EN",
"DE",
"SE",
"SY",
"ANI",
"AIS",
"AH",
"ENI",
"IE",
"IRE"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'SEXO'] = 'F'

### 8) Nomes Masculinos ainda não classificados ou reclassificados

nomes = [
"JOSE",
"JORGE",
"LUIZ",
]

with open('nomes-masculinos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [ ]:
nomes = []
with open('nomes-masculinos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [ ]:
for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'SEXO'] = 'M'

### 9) Nomes Femininos ainda não classificados ou reclassificados

nomes = [
"RAQUEL",
"ISABEL",
"LEONOR"
]

with open('nomes-femininos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [ ]:
nomes = []
with open('nomes-femininos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [ ]:
for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'SEXO'] = 'F'

### Casos indefinidos

In [ ]:
df[df['SEXO'].isnull()].head(30)

### Testes com outros casos

df = df[df['REV'].str.startswith('IA')]

df[df['SEXO'].isnull()].head(100)

In [ ]:
df.describe(include=['O'])

In [ ]:
df.head(200)

### Testes com outros casos

df[df['REV'].str.startswith('EZI')]

In [ ]:
#df.loc['PHILIP']

### Geração do arquivo final

In [ ]:
df.loc[df['SEXO'].isnull(), 'SEXO'] = 'X'

In [ ]:
df['SEXO'].to_csv(BASE + '-nomes-sexo.csv', float_format='%.4f')