In [1]:
import pandas as pd

In [2]:
df_nomes = pd.read_csv('afastamentos-nomes.csv', index_col=0)

In [3]:
df_nomes.head(30)

           QTDE
PNOME
MARIA      2937
JOSE       2766
ANTONIO    1257
FRANCISCO  1014
JOAO        993
CARLOS      979
ANA         938
PAULO       907
LUIZ        829
MARCOS      515
JORGE       507
MARCELO     424
PEDRO       421
RAIMUNDO    395
SERGIO      394
MANOEL      344
FERNANDO    342
ANDRE       328
RICARDO     318
MARCIA      314
LUIS        297
ALEXANDRE   287
ROBERTO     284
EDUARDO     275
CLAUDIO     271
PATRICIA    270
RODRIGO     253
CLAUDIA     245
JULIANA     240
LUCIANA     235

In [4]:
df_nomes['SEXO'] = None
df_nomes['LETRAS'] = 0
df_nomes['REV'] = df_nomes.index
df_nomes['REV'] = df_nomes['REV'].apply(lambda x: x[::-1])
df_nomes['LETRAS'] = df_nomes['REV'].apply(lambda x: len(x))
df_nomes.head(30)

           QTDE  SEXO  LETRAS        REV
PNOME
MARIA      2937  None       5      AIRAM
JOSE       2766  None       4       ESOJ
ANTONIO    1257  None       7    OINOTNA
FRANCISCO  1014  None       9  OCSICNARF
JOAO        993  None       4       OAOJ
CARLOS      979  None       6     SOLRAC
ANA         938  None       3        ANA
PAULO       907  None       5      OLUAP
LUIZ        829  None       4       ZIUL
MARCOS      515  None       6     SOCRAM
JORGE       507  None       5      EGROJ
MARCELO     424  None       7    OLECRAM
PEDRO       421  None       5      ORDEP
RAIMUNDO    395  None       8   ODNUMIAR
SERGIO      394  None       6     OIGRES
MANOEL      344  None       6     LEONAM
FERNANDO    342  None       8   ODNANREF
ANDRE       328  None       5      ERDNA
RICARDO     318  None       7    ODRACIR
MARCIA      314  None       6     AICRAM
LUIS        297  None       4       SIUL
ALEXANDRE   287  None       9  ERDNAXELA
ROBERTO     284  None       7    OTREBOR
EDUARDO     275  None       7    ODRAUDE
CLAUDIO     271  None       7    OIDUALC
PATRICIA    270  None       8   AICIRTAP
RODRIGO     253  None       7    OGIRDOR
CLAUDIA     245  None       7    AIDUALC
JULIANA     240  None       7    ANAILUJ
LUCIANA     235  None       7    ANAICUL

In [5]:
maior = df_nomes['LETRAS'].max()
maior

14

for i in range(maior):
    df_nomes['L' + str(i)] = ''
df_nomes.head()

df_nomes['L0'] = df_nomes['REV'].apply(lambda x: x[0])
df_nomes['L1'] = df_nomes['REV'].apply(lambda x: x[1] if len(x) > 1 else '')
df_nomes.head()

In [6]:
for i in range(maior):
    df_nomes['L' + str(i)] = df_nomes['REV'].apply(lambda x: x[i] if len(x) > i else '')
df_nomes.head()

,QTDE,SEXO,LETRAS,REV,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13
PNOME,,,,,,,,,,,,,,,,,,
MARIA,2937,None,5,AIRAM,A,I,R,A,M,,,,,,,,,
JOSE,2766,None,4,ESOJ,E,S,O,J,,,,,,,,,,
ANTONIO,1257,None,7,OINOTNA,O,I,N,O,T,N,A,,,,,,,
FRANCISCO,1014,None,9,OCSICNARF,O,C,S,I,C,N,A,R,F,,,,,
JOAO,993,None,4,OAOJ,O,A,O,J,,,,,,,,,,

### 1) Masculino se terminar com O, Feminino se terminar com A

In [7]:
df_nomes.loc[df_nomes['L0'] == 'O', 'SEXO'] = 'M'
df_nomes.loc[df_nomes['L0'] == 'A', 'SEXO'] = 'F'

### 2) Masculino se terminar com R, X ou L

In [8]:
df_nomes.loc[df_nomes['REV'].str.startswith('R'), 'SEXO'] = 'M'
df_nomes.loc[df_nomes['REV'].str.startswith('X'), 'SEXO'] = 'M'
df_nomes.loc[df_nomes['REV'].str.startswith('L'), 'SEXO'] = 'M'

### 3) Masculino se terminar com DRE, UIS, QUE, ERT, ERG

In [9]:
sufixos = [
"DRE",
"UIS",
"QUE",
"ERT",
"ERG"
]

for suf in sufixos:
    rev = suf[::-1]
    df_nomes.loc[df_nomes['REV'].str.startswith(rev), 'SEXO'] = 'M'

### 4) Masculino se terminar com OS, ON, PE, PH, AS, AZ, US, IM, ES, NS, UE, EI, EY, EU, AU, AN, AC, IC, ICK, IK

In [10]:
sufixos = [
"OS",
"ON",
"AS",
"AZ",
"US",
"ES",
"PE",
"PH",
"IM",
"NS",
"UE",
"EI",
"EY",
"EU",
"AU",
"AN",
"AC",
"IC",
"ICK",
"IK"
]

for suf in sufixos:
    rev = suf[::-1]
    df_nomes.loc[df_nomes['REV'].str.startswith(rev), 'SEXO'] = 'M'

### 5) Feminino se terminar com ELE, ELLE, LLE, ETE, ETTE, ETI, ETTI, ETH, ETHE, ISE, IZE ou ITE

In [11]:
sufixos = [
"ELE",
"ELLE",
"LLE",
"ETE",
"ETTE",
"ETI",
"ETTI",
"ETH",
"ETHE",
"ISE",
"IZE",
"ITE"
]

for suf in sufixos:
    rev = suf[::-1]
    df_nomes.loc[df_nomes['REV'].str.startswith(rev), 'SEXO'] = 'F'

### 6) Feminino se terminar com NE, LI, LY, LYN, CE, EN, DE, SE, SY, ANI, AIS, AH, ENI, IE, IRE

In [12]:
sufixos = [
"NE",
"LI",
"LY",
"LYN",
"CE",
"EN",
"DE",
"SE",
"SY",
"ANI",
"AIS",
"AH",
"ENI",
"IE",
"IRE"
]

for suf in sufixos:
    rev = suf[::-1]
    df_nomes.loc[df_nomes['REV'].str.startswith(rev), 'SEXO'] = 'F'

### 8) Nomes Masculinos ainda não classificados ou reclassificados

nomes = [
"JOSE",
"JORGE",
"LUIZ",
]

for nome in nomes:
    rev = nome[::-1]
    df_nomes.loc[df_nomes['REV'] == rev, 'SEXO'] = 'M'

with open('nomes-masculinos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [13]:
nomes = []
with open('nomes-masculinos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [14]:
for nome in nomes:
    rev = nome[::-1]
    df_nomes.loc[df_nomes['REV'] == rev, 'SEXO'] = 'M'

### 9) Nomes Femininos ainda não classificados ou reclassificados

nomes = [
"RAQUEL",
"ISABEL",
"LEONOR"
]

for nome in nomes:
    rev = nome[::-1]
    df_nomes.loc[df_nomes['REV'] == rev, 'SEXO'] = 'F'

with open('nomes-femininos.txt', 'w') as f:
    for nome in nomes:
        f.write("%s\n" % nome)

In [15]:
nomes = []
with open('nomes-femininos.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

In [16]:
for nome in nomes:
    rev = nome[::-1]
    df_nomes.loc[df_nomes['REV'] == rev, 'SEXO'] = 'F'

### Casos indefinidos

In [17]:
df_nomes[df_nomes['SEXO'].isnull()].head(30)

,QTDE,SEXO,LETRAS,REV,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13
PNOME,,,,,,,,,,,,,,,,,,
VALDECI,24,None,7,ICEDLAV,I,C,E,D,L,A,V,,,,,,,
JURACI,13,None,6,ICARUJ,I,C,A,R,U,J,,,,,,,,
DARCY,12,None,5,YCRAD,Y,C,R,A,D,,,,,,,,,
DARCI,9,None,5,ICRAD,I,C,R,A,D,,,,,,,,,
IRACI,9,None,5,ICARI,I,C,A,R,I,,,,,,,,,
JACY,9,None,4,YCAJ,Y,C,A,J,,,,,,,,,,
JACI,9,None,4,ICAJ,I,C,A,J,,,,,,,,,,
NELCI,6,None,5,ICLEN,I,C,L,E,N,,,,,,,,,
UBIRACI,6,None,7,ICARIBU,I,C,A,R,I,B,U,,,,,,,
JURACY,5,None,6,YCARUJ,Y,C,A,R,U,J,,,,,,,,
GLADYS,5,None,6,SYDALG,S,Y,D,A,L,G,,,,,,,,
VALDECY,5,None,7,YCEDLAV,Y,C,E,D,L,A,V,,,,,,,
GUARACI,5,None,7,ICARAUG,I,C,A,R,A,U,G,,,,,,,
VALDI,5,None,5,IDLAV,I,D,L,A,V,,,,,,,,,
CLECI,4,None,5,ICELC,I,C,E,L,C,,,,,,,,,
LEONI,4,None,5,INOEL,I,N,O,E,L,,,,,,,,,
JAMILE,4,None,6,ELIMAJ,E,L,I,M,A,J,,,,,,,,
IRANDI,4,None,6,IDNARI,I,D,N,A,R,I,,,,,,,,
DORACI,3,None,6,ICAROD,I,C,A,R,O,D,,,,,,,,
AGLAE,3,None,5,EALGA,E,A,L,G,A,,,,,,,,,
ALDECI,3,None,6,ICEDLA,I,C,E,D,L,A,,,,,,,,
JURANDY,3,None,7,YDNARUJ,Y,D,N,A,R,U,J,,,,,,,
GECY,3,None,4,YCEG,Y,C,E,G,,,,,,,,,,
ALDERI,3,None,6,IREDLA,I,R,E,D,L,A,,,,,,,,
GENECI,3,None,6,ICENEG,I,C,E,N,E,G,,,,,,,,
FRANCY,3,None,6,YCNARF,Y,C,N,A,R,F,,,,,,,,
LECI,3,None,4,ICEL,I,C,E,L,,,,,,,,,,
IVANY,3,None,5,YNAVI,Y,N,A,V,I,,,,,,,,,
JACOB,3,None,5,BOCAJ,B,O,C,A,J,,,,,,,,,
AVANY,3,None,5,YNAVA,Y,N,A,V,A,,,,,,,,,

### Testes com outros casos

In [18]:
df = df_nomes[df_nomes['REV'].str.startswith('IA')]

df[df['SEXO'].isnull()].head(100)

,QTDE,SEXO,LETRAS,REV,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13
PNOME,,,,,,,,,,,,,,,,,,
IRAI,2,None,4,IARI,I,A,R,I,,,,,,,,,,
SAMAI,2,None,5,IAMAS,I,A,M,A,S,,,,,,,,,
UBURAI,1,None,6,IARUBU,I,A,R,U,B,U,,,,,,,,
UBIRAI,1,None,6,IARIBU,I,A,R,I,B,U,,,,,,,,
YSLAI,1,None,5,IALSY,I,A,L,S,Y,,,,,,,,,
MADAI,1,None,5,IADAM,I,A,D,A,M,,,,,,,,,
SARAI,1,None,5,IARAS,I,A,R,A,S,,,,,,,,,
ELIOENAI,1,None,8,IANEOILE,I,A,N,E,O,I,L,E,,,,,,
ALINDAI,1,None,7,IADNILA,I,A,D,N,I,L,A,,,,,,,
JUNAI,1,None,5,IANUJ,I,A,N,U,J,,,,,,,,,
FLANINDAI,1,None,9,IADNINALF,I,A,D,N,I,N,A,L,F,,,,,

In [19]:
df_nomes.describe(include=['O'])

,SEXO,REV,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13
count,8697,9726,9726,9726,9726,9726,9726,9726,9726,9726,9726,9726,9726,9726,9726,9726
unique,2,9726,23,25,27,27,27,27,27,27,27,25,19,15,8,3
top,F,AIVIL,A,N,I,I,I,,,,,,,,,
freq,4376,1,2527,1656,1541,1703,1095,1951,4062,6376,8206,9227,9590,9693,9716,9724

In [20]:
df_nomes.head(200)

,QTDE,SEXO,LETRAS,REV,L0,L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13
PNOME,,,,,,,,,,,,,,,,,,
MARIA,2937,F,5,AIRAM,A,I,R,A,M,,,,,,,,,
JOSE,2766,M,4,ESOJ,E,S,O,J,,,,,,,,,,
ANTONIO,1257,M,7,OINOTNA,O,I,N,O,T,N,A,,,,,,,
FRANCISCO,1014,M,9,OCSICNARF,O,C,S,I,C,N,A,R,F,,,,,
JOAO,993,M,4,OAOJ,O,A,O,J,,,,,,,,,,
CARLOS,979,M,6,SOLRAC,S,O,L,R,A,C,,,,,,,,
ANA,938,F,3,ANA,A,N,A,,,,,,,,,,,
PAULO,907,M,5,OLUAP,O,L,U,A,P,,,,,,,,,
LUIZ,829,M,4,ZIUL,Z,I,U,L,,,,,,,,,,
MARCOS,515,M,6,SOCRAM,S,O,C,R,A,M,,,,,,,,
JORGE,507,M,5,EGROJ,E,G,R,O,J,,,,,,,,,
MARCELO,424,M,7,OLECRAM,O,L,E,C,R,A,M,,,,,,,
PEDRO,421,M,5,ORDEP,O,R,D,E,P,,,,,,,,,
RAIMUNDO,395,M,8,ODNUMIAR,O,D,N,U,M,I,A,R,,,,,,
SERGIO,394,M,6,OIGRES,O,I,G,R,E,S,,,,,,,,
MANOEL,344,M,6,LEONAM,L,E,O,N,A,M,,,,,,,,
FERNANDO,342,M,8,ODNANREF,O,D,N,A,N,R,E,F,,,,,,
ANDRE,328,M,5,ERDNA,E,R,D,N,A,,,,,,,,,
RICARDO,318,M,7,ODRACIR,O,D,R,A,C,I,R,,,,,,,
MARCIA,314,F,6,AICRAM,A,I,C,R,A,M,,,,,,,,
LUIS,297,M,4,SIUL,S,I,U,L,,,,,,,,,,
ALEXANDRE,287,M,9,ERDNAXELA,E,R,D,N,A,X,E,L,A,,,,,
ROBERTO,284,M,7,OTREBOR,O,T,R,E,B,O,R,,,,,,,
EDUARDO,275,M,7,ODRAUDE,O,D,R,A,U,D,E,,,,,,,
CLAUDIO,271,M,7,OIDUALC,O,I,D,U,A,L,C,,,,,,,
PATRICIA,270,F,8,AICIRTAP,A,I,C,I,R,T,A,P,,,,,,
RODRIGO,253,M,7,OGIRDOR,O,G,I,R,D,O,R,,,,,,,
CLAUDIA,245,F,7,AIDUALC,A,I,D,U,A,L,C,,,,,,,
JULIANA,240,F,7,ANAILUJ,A,N,A,I,L,U,J,,,,,,,
LUCIANA,235,F,7,ANAICUL,A,N,A,I,C,U,L,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VALTER,60,M,6,RETLAV,R,E,T,L,A,V,,,,,,,,
VICENTE,59,M,7,ETNECIV,E,T,N,E,C,I,V,,,,,,,
WELLINGTON,59,M,10,NOTGNILLEW,N,O,T,G,N,I,L,L,E,W,,,,
GERSON,58,M,6,NOSREG,N,O,S,R,E,G,,,,,,,,
ALVARO,57,M,6,ORAVLA,O,R,A,V,L,A,,,,,,,,
IGOR,57,M,4,ROGI,R,O,G,I,,,,,,,,,,
NILTON,56,M,6,NOTLIN,N,O,T,L,I,N,,,,,,,,
SANDRO,56,M,6,ORDNAS,O,R,D,N,A,S,,,,,,,,
TEREZINHA,56,F,9,AHNIZERET,A,H,N,I,Z,E,R,E,T,,,,,
LAURA,56,F,5,ARUAL,A,R,U,A,L,,,,,,,,,
ERIKA,56,F,5,AKIRE,A,K,I,R,E,,,,,,,,,
JOEL,56,M,4,LEOJ,L,E,O,J,,,,,,,,,,
VALDIR,56,M,6,RIDLAV,R,I,D,L,A,V,,,,,,,,
GABRIEL,56,M,7,LEIRBAG,L,E,I,R,B,A,G,,,,,,,
GISELE,55,F,6,ELESIG,E,L,E,S,I,G,,,,,,,,
ELIANA,55,F,6,ANAILE,A,N,A,I,L,E,,,,,,,,
ISABEL,55,F,6,LEBASI,L,E,B,A,S,I,,,,,,,,
VICTOR,55,M,6,ROTCIV,R,O,T,C,I,V,,,,,,,,
MARCELA,55,F,7,ALECRAM,A,L,E,C,R,A,M,,,,,,,
DIOGO,55,M,5,OGOID,O,G,O,I,D,,,,,,,,,
VITOR,55,M,5,ROTIV,R,O,T,I,V,,,,,,,,,
AILTON,55,M,6,NOTLIA,N,O,T,L,I,A,,,,,,,,
FREDERICO,54,M,9,OCIREDERF,O,C,I,R,E,D,E,R,F,,,,,
KARLA,54,F,5,ALRAK,A,L,R,A,K,,,,,,,,,
HELENA,53,F,6,ANELEH,A,N,E,L,E,H,,,,,,,,
JAQUELINE,53,F,9,ENILEUQAJ,E,N,I,L,E,U,Q,A,J,,,,,
SEVERINO,53,M,8,ONIREVES,O,N,I,R,E,V,E,S,,,,,,
HUMBERTO,53,M,8,OTREBMUH,O,T,R,E,B,M,U,H,,,,,,
HELOISA,52,F,7,ASIOLEH,A,S,I,O,L,E,H,,,,,,,
AUGUSTO,52,M,7,OTSUGUA,O,T,S,U,G,U,A,,,,,,,

df_nomes[df_nomes['REV'].str.startswith('EZI')]

### Testes com outros casos

In [21]:
df_nomes.to_csv('afastamentos-nomes-sexo.csv')