In [1]:
import pandas as pd
import numpy as np

In [2]:
#BASE = 'afastamentos'
BASE = 'cadastro'

In [3]:
df = pd.read_csv(BASE + '-sobrenomes.csv', index_col=0,
                 dtype={'QTDE': 'uint8', 'PERC': np.float32})

In [4]:
df.head()

          QTDE    PERC
UNOME
SILVA        0  7.5358
SANTOS      36  4.1304
OLIVEIRA   117  3.3497
SOUZA        5  2.4202
LIMA       165  1.8500

In [9]:
df.dtypes

QTDE        uint8
PERC      float32
PAIS       object
LETRAS      int64
REV        object
dtype: object

In [10]:
df['PAIS'] = None
df['LETRAS'] = 0
df['REV'] = df.index
df['REV'] = df['REV'].apply(lambda x: x[::-1])
#df['LETRAS'] = df['REV'].apply(lambda x: len(x))
df.head()

TypeError: 'float' object is not subscriptable

In [ ]:
df.dtypes

maior = df['LETRAS'].max()
maior

maior = 16 # fixado para o maior arquivo

### Constantes

In [ ]:
PORTUGAL = 'PT'
ESPANHA = 'ES'
ITALIA = 'IT'
ALEMANHA = 'DE'
FRANCA = 'FR'
JAPAO = 'JP'

### 1) Espanhol se terminar com ...

In [ ]:
sufixos = [
"EZ",
"LLO",
"LLON",
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'PAIS'] = ESPANHA

### 2) Italiano se terminar com ...

In [ ]:
sufixos = [
"INI",
"IERI",
"ELLA",
"ELLI",
"ELLO",
"ETTI",
"ETTO",
"ONI",
"ONO",
"OTTI",
"OTTO",
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'PAIS'] = ITALIA

### 3) Francês se terminar com ...

In [ ]:
sufixos = [
"AMP",
"ARD",
"AUD",
"AUX",
"EAU",
"EAULT",
"ET",
"EU",
"EUX",
"IEU",
"ILLE",
"IER",
"OT",
"OIS",
"OIT",
"OUX",
"FORT",
"GNE",
"MONT"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'PAIS'] = FRANCA

### 4.1) Alemão se terminar com ...

In [ ]:
sufixos = [
"BACH",
"TNER",
"STEIN",
"MANN",
"ULLER",
"HOFF",
"WALD",
"BAUM",
"BERG",
"BERGER",
"HAUS",
"MAYER",
"GARTEN",
"AUER",
"KAMP",
"HARDT",
"RINGER",
"STIEL",
"HEIM",
"FELD",
"HORN",
"BURG",
"FRIED",
"KOPF",
"REICH",
"MEISTER",
"MEYER",
"BLATT",
"INGER",
"MACHER"
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'PAIS'] = ALEMANHA

### 4.2) Alemão se iniciar com ...

In [ ]:
prefixos = [
"HOFF",
"HART",
"BERG",
"SCHU",
"BECKEN",
]

for pref in prefixos:
    df.loc[df.index.str.startswith(pref), 'PAIS'] = ALEMANHA

### 5.1) Japonês se terminar com ...

In [ ]:
sufixos = [
"AKA",
"AKI",
"ASHI",
"ATSU",
"AWA",
"HARA",
"HARU",
"HIDA",
"HIMA",
"HIRO",
"KITA",
"OKA",
"OSHI",
"MARU",
"MORI",
"MOTO",
"MURA",
"NAGA",
"NAKA",
"RAYA",
"UCHI",
"UKA",
"UMA",
"YAMA",
]

for suf in sufixos:
    df.loc[df['REV'].str.startswith(suf[::-1]), 'PAIS'] = JAPAO

### 5.2) Japonês se iniciar com ...

In [ ]:
prefixos = [
"MATSU",
"FUJI",
"KOBA",
"YAMA",
"SAKI",
"SAKA",
"NAKA",
"TAKA",
"TAKE",
"YOSHI",
"NISHI",
"UEM",
"OKU",
"OKI",
"YOKO",
"MIYA",
"NISI",
"MORI",
"TASHI",
]

for pref in prefixos:
    df.loc[df.index.str.startswith(pref), 'PAIS'] = JAPAO

IT:
.CHIA
.ETTA
.GLIA
.CCH.
.ZZ.
.GH.

DE:
.HOLZ
.FELDT

PL:
.WICZ
.VICZ
.EWSKI
.EVSKI
.OWSKI
.OVSKI
.INSKY
.INSKI

RU:
.VITCH
.VANOV

UA:
.CZUK
.CZYK

### 8) Sobrenomes Espanhóis ainda não classificados ou reclassificados

nomes = []
with open('sobrenomes-espanhois.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'PAIS'] = ESPANHA

### 9) Sobrenomes Portugueses ainda não classificados ou reclassificados

In [ ]:
nomes = []
with open('sobrenomes-portugueses.txt', 'r') as f:
    nomes = [nome.rstrip() for nome in f.readlines()]

for nome in nomes:
    df.loc[df['REV'] == nome[::-1], 'PAIS'] = PORTUGAL

## Testes individuais

In [ ]:
df.loc['MELO']

### Casos indefinidos

In [ ]:
df[df['PAIS'].isnull()].head()

### Análise dos resultados por país

In [ ]:
df[df['PAIS'] == PORTUGAL].head(10)

In [ ]:
df[df['PAIS'] == ESPANHA].head(10)

In [ ]:
df[df['PAIS'] == ITALIA].head(10)

In [ ]:
df[df['PAIS'] == ALEMANHA].head(10)

In [ ]:
df[df['PAIS'] == FRANCA].head(10)

In [ ]:
df[df['PAIS'] == JAPAO].head(10)

### Geração do arquivo final

In [ ]:
df.loc[df['PAIS'].isnull(), 'PAIS'] = 'XX'

In [ ]:
df[['QTDE', 'PAIS']].groupby(['PAIS']).count()

In [ ]:
df['PAIS'].to_csv(BASE + '-sobrenomes-pais.csv', float_format='%.4f')

In [ ]:
df2 = (df[df['PAIS'] == 'XX'])[['QTDE', 'REV']].sort_values(['REV', 'QTDE'])[['QTDE']]
#df2.head(30)
df2.to_csv(BASE + '-sobrenomes-pais-XX.csv')